[2017-02-28 00:37] tamalsaha opened #1 "Proposal: Imeplement Restic TPR Resource for Kubernetes"
# Motivation:
If you are running production workloads in Kubernetes, you want to take backup of your disks. Traditional tools like Bacula are too complex to setup and maintain manually in a dynamic compute environment like Kubernetes. So, we plan to implement a TPR controller based on [restic](https://github.com/restic/restic) to address these issues.

# Goals:
- Take backup of Persistent Volumes

[2017-02-28 01:16] tamalsaha opened #2 "Mount restic snapshots as FUSE volume"
https://github.com/kubernetes/kubernetes/issues/7890

[2017-02-28 01:19] tamalsaha opened #3 "Use osm as the bucket manipulator"
`It is not possible at the moment to have restic create a new bucket in a different location, so you need to create it using a different program. Afterwards, the S3 server (s3.amazonaws.com) will redirect restic to the correct endpoint.`

https://restic.readthedocs.io/en/stable/Manual/

[2017-03-02 00:43] tamalsaha opened #4 "Take backup of consistent snapshots"
Kubernetes is working on something called Flex Volume: https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/flexvolume

This seems to show how to use [LVM](http://unix.stackexchange.com/questions/225730/how-to-take-snapshot-of-an-ext4-filesystem) with Kubernetes.

We should revisit this later.

[2017-03-02 00:46] tamalsaha opened #5 "Turn Stash operator into an Initializer"
See the proposal for details; #1

Blocked on https://github.com/kubernetes/community/pull/132

[2017-03-02 00:49] tamalsaha opened #6 "Provision new restic repositories"
The upside is not quite clear but this could be useful.

[2017-03-02 00:51] tamalsaha opened #7 "HTTP api to exposing restic repository data"
This will be useful for building web dashboards. There can be done even at the upstream level.

https://github.com/restic/restic/issues/832

[2017-03-02 00:53] tamalsaha opened #8 "CLI: restic-ctl"
Build a cli to turn various multi step process into once command:

- [x] repo initialization
- [x] recover process for a kubernetes deployment.

This could be even part of https://github.com/appscode/osm

[2017-03-02 01:06] sanmai commented on #1
Does restic have `restic.conf`?

[2017-03-02 01:09] TamalSaha commented on #1
@sanmai , I meant restic.conf as a "placeholder'. We need some way take the config from Kubernetes and forward that to restic cli.

[2017-03-02 15:48] TamalSaha commented on #1
There are a number of open issues regarding the TPR spec:

- Should we use a single TPR for all 4 parts of the information?

- Do we move the destination (restic repository info) to its own object so that multiple installation of an application in a cluster can share the rest.

- Since we are associating restic TPR with RCs, etc via label, N:1 association is possible between Rcs and restic TPR. Mu

[2017-03-02 23:34] tamalsaha opened #9 "Send performance stats to Prometheus"
- [ ] Duration of snapshot.
- [ ] Snapot success / fail
- [ ] Amount of data backed up

Given restic executions are short-lived jobs, we should use the Pushgateway:
https://prometheus.io/docs/instrumenting/pushing/

- Operator itself should expose metrics via `/metrics` port

[2017-03-10 07:05] TamalSaha commented on #1
[code]

[2017-03-10 07:09] TamalSaha commented on #1
Update operation will support work like below:
- schdeule: regen restic
- retention policy: update restic command
- restic version: Keep a flag in `restik` controller. `restik` will add that as an annotation to TPR when side card containers are added. If these annotations are modified, RC side car will be modified. Later, we can add a reconcile flag to TPR controller to force upgrade for all TPRs

[2017-03-15 14:59] tamalsaha opened #13 "Support recreation of StatefulSets"
Side car container can't be added to a StatefulSet once it is created. So, we can add an option to
`backup.appscode.com/recreate: true` to delete and recreate SS with side car. This is an advanced option. we can do this later.

[2017-03-16 06:51] TamalSaha commented on #1
@sadlil @saumanbiswas we need to discuss the secret format. The secret will have the following things:

- restic repository password
- AWS / GCS / Azure etc secret used to push to cloud bucket. Essentially the set of things we need to create Stow client. You can see the list here: https://github.com/appscode/osm/blob/master/pkg/cmd/config/set.go#L88

[2017-04-20 08:54] TamalSaha opened #21 "Allow modifying the cron expression"
- [ ] Operator will observe updates, if bad cron expression, it will remove the cron expression. This will stop the cron job.
 - [ ] Side-car watches for TPR and updates cron

cc: @sadlil

[2017-04-20 09:15] tamalsaha opened #22 "TODOs"
Somethings I noticed during the demo;

 - [x] Soidecar container should use `PullIfAbsent`
 - [x] Use Restik from our appscode repo.

[2017-04-24 14:10] TamalSaha opened #24 "Bubble up errors to the caller."

[2017-04-26 13:28] #21 closed

[2017-06-13 23:40] #24 closed

[2017-06-13 23:47] TamalSaha opened #31 "Add analytics"
UA-62096468-15

[2017-06-13 23:48] TamalSaha opened #32 "Update restic to 0.6.x"

[2017-06-13 23:49] tamalsaha opened #33 "Change Destination definition to point to S3"
https://github.com/k8sdb/apimachinery/blob/master/api/types.go#L33

Like KubeDB, we want to only use cloud storage destination. We can keep the option to store on a disk (for local testing & using mountable storage, like NFS volumes, etc).

[2017-06-14 00:44] tamalsaha opened #34 "Support GCS as backup destination"

[2017-06-14 00:44] tamalsaha opened #35 "Support Azure as backup destination"

[2017-06-15 03:51] #32 closed

[2017-06-16 00:44] #31 closed

[2017-06-19 23:48] tamalsaha opened #42 "Support updated Kube object versions"
In Kube 1.6,
 - Deployments changed from extensions/v1beta1 to apps/v1beta1.

These needs to be supported.

[2017-06-20 00:36] TamalSaha commented on #9
Run the https://github.com/prometheus/pushgateway as a sidecar to restik operator. Then configure Prometheus to scrape it.

[2017-06-21 05:45] #22 closed

[2017-06-21 07:17] #42 closed

[2017-06-21 07:18] tamalsaha commented on #42
Fixed in https://github.com/appscode/stash/pull/50

[2017-06-23 00:01] tamalsaha opened #55 "Review analytics"

[2017-06-23 00:02] tamalsaha opened #56 "Use client-go 4.0.0"

[2017-06-23 00:04] tamalsaha opened #57 "Add e2e tests using Ginkgo"

[2017-06-23 03:42] tamalsaha opened #59 "Support Swift as backup destination"

[2017-06-23 03:43] tamalsaha opened #60 "Support BackBlaze as backup destination"

[2017-06-23 03:44] tamalsaha opened #61 "Mount an empty directory to write local files."

[2017-06-24 02:56] tamalsaha commented on #61
Fixed in #62

[2017-06-24 02:56] #61 closed

[2017-06-24 02:58] #33 closed

[2017-06-24 02:58] #34 closed

[2017-06-24 02:58] #35 closed

[2017-06-24 05:54] #59 closed

[2017-06-24 05:54] #6 closed

[2017-06-24 06:00] tamalsaha opened #64 "Use RBAC objects for operator."
We are going to have 2 sets of installation options:
- Use  a `stash-operator` service account with reduced permissions.

Operator will use the same `serviceAccountName` (default or stash-operator) installed in the operator pod with pods, secrets, etc.

https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html

[2017-06-24 08:50] tamalsaha commented on #9
https://github.com/prometheus/client_golang/blob/master/prometheus/push/push_test.go

[2017-06-24 10:23] tamalsaha commented on #64
No coding change needed. Need to document the permissions needed.

[2017-06-24 12:34] tamalsaha opened #68 "Sanitize metric labels"

[2017-06-24 16:17] #9 closed

[2017-06-24 16:17] #68 closed

[2017-06-25 05:04] #64 closed

[2017-06-25 05:05] #60 closed

[2017-06-25 05:06] tamalsaha commented on #8
This can be done using official restic cli

[2017-06-25 05:06] #8 closed

[2017-06-25 06:31] tamalsaha opened #71 "Updating Local backend does not update pods."
This will require restarting the pods

[2017-06-25 06:36] tamalsaha opened #72 "Support updating version of resitc side-car"
Currently users can manually update `stash` side-car. To automate this we could add a `resync: true` annotation on TPR or Kube objects. Stash operator can resync those automatically.

The obvious issue is this will not work for DaemonSets & StatefulSets.

[2017-06-25 20:20] #57 closed

[2017-06-25 20:45] tamalsaha commented on #1
It's implemented now!

[2017-06-25 20:45] #1 closed

[2017-06-25 20:51] #55 closed

[2017-06-26 08:13] tamalsaha opened #77 "Validate secret before adding sidecar"

[2017-06-26 16:16] tamalsaha opened #81 "Add /snapshots endpoint in operator"
The main issue is what the app prefix?

[2017-06-26 16:51] #81 closed

[2017-06-27 10:32] tamalsaha opened #85 "Test TODOs"
- [x] AWS
 - [x] GCS
 - [x] Azure
 - [ ] Snapshots endpoints
 - [x] Swift
 - [ ] Rest server
 - [x] BackBlaze B2
 - [ ] Prometheus Pushgateway Scrapping

[2017-06-27 10:44] tamalsaha opened #86 "Cleanup documentation"

[2017-06-27 10:45] tamalsaha opened #87 "Fix charts"

[2017-06-28 09:42] tamalsaha opened #95 "Handle updated restic selectors"

[2017-06-28 11:35] tamalsaha opened #96 "Move prefix-hostname to Restic tpr"
Also, should be a tag

[2017-06-28 11:37] tamalsaha opened #97 "Switch to CustomResourceDefinitions"
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/thirdpartyresources.md

https://github.com/kubernetes/features/issues/95#issuecomment-311483403

[2017-06-28 11:41] tamalsaha commented on #7
Currently we use --json flag to expose json data from restic and then expose that via a http server in stash operator.

Currently only supported endpoint is a list of snapshots.

[2017-06-28 11:41] #7 closed

[2017-06-28 12:54] tamalsaha opened #98 "Test restic URL is generated correctly when optional parts are missing"

[2017-06-28 17:21] tamalsaha opened #100 "Don't run forget if missing retention policy"

[2017-06-28 17:38] tamalsaha opened #101 "Add retention policy options"
--prune
--dry-run
-- tag

[2017-06-28 18:15] tamalsaha opened #102 "Set Temp dir ENV var"
https://restic.readthedocs.io/en/latest/manual.html#temporary-files

[2017-06-28 18:21] tamalsaha opened #103 "Document various implications of Restic update"

[2017-06-28 18:23] tamalsaha opened #104 "Document some common retention policies"

[2017-06-28 19:04] tamalsaha opened #105 "Handle updating local backend."

[2017-06-28 19:10] tamalsaha opened #106 "Add a restic wrapper."
This can be handy during recovery operation.

[2017-06-28 19:22] tamalsaha opened #107 "Link back to tutorial from docs pages."

[2017-06-28 19:26] tamalsaha opened #108 "Document e2e test setup process."

[2017-06-28 19:28] tamalsaha opened #109 "Link to sidecar flags."

[2017-06-28 21:01] tamalsaha opened #111 "Document HTTP endpoints"

[2017-06-28 21:14] tamalsaha opened #112 "Mount source volume"

[2017-06-29 08:08] #102 closed

[2017-06-29 08:12] #109 closed

[2017-06-29 08:12] #107 closed

[2017-06-29 08:13] #103 closed

[2017-06-29 08:22] #100 closed

[2017-06-29 08:22] #101 closed

[2017-06-29 12:13] #96 closed

[2017-06-29 12:14] #98 closed

[2017-06-29 12:14] tamalsaha commented on #98
We are now adding stash prefix, if no real prefix present. So, this is not an issue.

[2017-06-29 13:36] tamalsaha opened #119 "Document FindRestic will match first one"

[2017-06-29 20:38] #105 closed

[2017-06-29 20:39] #112 closed

[2017-06-29 20:39] #95 closed

[2017-06-30 11:21] #86 closed

[2017-06-30 11:58] tamalsaha opened #122 "Fix GCS"
[code]

[2017-06-30 13:27] tamalsaha commented on #72
This is mostly done. The issue remains regarding restic version.

[2017-06-30 13:27] tamalsaha commented on #77
Doing this results in CrashLoop. Users can check the sidecar log and see if there are any issues.

[2017-06-30 13:27] #77 closed

[2017-06-30 13:28] #71 closed

[2017-06-30 15:12] tamalsaha commented on #13
Kube 1.7 supports Updates for StatefulSet https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#updating-statefulsets

[2017-07-01 19:47] tamalsaha opened #123 "Document required RBAC permissions"
If workloads are using RBAC, the corresponding service account needs read permission on Secret and Restic to configure `restic` cli.

[2017-07-01 20:09] tamalsaha commented on #123
Should we automatically add required permissions if missing?

[2017-07-03 11:11] #122 closed

[2017-07-03 19:22] #108 closed

[2017-07-03 19:26] #119 closed

[2017-07-03 19:45] tamalsaha opened #125 "Support Backblaze B2 as backend"
If there are enough user request, we should add this.

[2017-07-03 19:45] tamalsaha opened #126 "Support Restic Rest server as backend."
If there are enough user request, we should add this.

[2017-07-04 03:05] tamalsaha opened #128 "Support resource"

[2017-07-04 03:41] tamalsaha commented on #128
Fixed https://github.com/appscode/stash/pull/129

[2017-07-04 03:41] #128 closed

[2017-07-04 03:41] #87 closed

[2017-07-06 02:34] tamalsaha opened #131 "Collect ideas on how to improve recovery process"
One idea is to create a Recover TPR. If created, we can launch a Job to
- dynamically create a PV
- Recover into the PV using restic.
- Shutdown Job

[2017-07-06 16:02] tamalsaha opened #133 "Update restic"
- [x] Azure improvements
 - [x] Change in repo URL format <backend>:container:/[prefix]
 - [x] Check for prefix optional.

[2017-07-07 14:42] rimusz commented on #131
sounds as a right process

[2017-07-07 15:39] tamalsaha commented on #131
Thanks @rimusz ! If we create the new PV dynamically, I think there will be no name collision. Also, users might want to restore in an existing PV.

[2017-07-07 16:12] rimusz commented on #131
indeed, in some cases users might want to restore into the existing PV, so data needs to be deleted there and restored from the backup.

[2017-07-07 16:13] rimusz commented on #131
what are your plans on restore story, how soon it can be done?
do you need any help with that?

[2017-07-07 17:23] #133 closed

[2017-07-07 17:24] #123 closed

[2017-07-07 17:25] tamalsaha commented on #3
I don't think this project needs to do anything for this. Users can create the bucket ahead of time from cloud providers ui,

[2017-07-07 17:25] #3 closed

[2017-07-07 18:54] tamalsaha commented on #131
I want to get this done before 3.0.0. I want to reach 3.0.0 by end of this month, so that we can start work on Kube 1.7+.

Thanks for wanting to help. I really appreciate this. The easiest way to help will be to test this feature and give your feedback on the UX. If want to contribute code, we should talk about the design first.

[2017-07-07 19:22] rimusz opened #136 "stash Helm chart needs docs to use it with backups to S3/GCS/Azure storage"

[2017-07-07 19:25] tamalsaha commented on #136
Backends are documented here: https://github.com/appscode/stash/blob/master/docs/backends.md . Is there anything specifically needed for Helm chart?

[2017-07-07 20:10] rimusz commented on #136
so backend needs to be installed separately from the helm chart?

[2017-07-07 20:13] tamalsaha commented on #136
No. If you follow the tutorial https://github.com/appscode/stash/blob/master/docs/tutorial.md , I used a local emptyDir as a backend for example.

Instead change the `spec.backend` for your Restic tpr to one of the backends and also create the secret accordingly. Then Stash will backup in that backend.

[2017-07-10 16:49] tamalsaha commented on #131
Based on my discussion on our [slack](https://slack.appscode.com/) channel with @m-ferrero :

 - being able to restore into the existing pv seems to me the first thing
at the moment we use bacula and more often than not customers request that kind of restore

- another improvement could be being able to suspend backup during restore, but this could be useful in other conditions too and probably it

[2017-07-10 19:17] tamalsaha commented on #5
This has been added as a alpha feature in Kube 1.7. https://kubernetes.io/docs/admin/extensible-admission-controllers/

We don't use any Kubernetes alpha feature on principle based on our prior experience. So, this will not happen until this feature hits 1.8 .

[2017-07-19 03:04] tamalsaha commented on #136
Closing this bug. If you are still having trouble, please reopen.

[2017-07-19 03:04] #136 closed

[2017-07-19 03:08] tamalsaha opened #140 "Handle Deployment etc with replicas > 1"
Scenario: Deployment with replicas > 1. This mounts a GlusterFS volume. In this case, only one of the replicas should be used for taking backup. Currently all replicas will get sidecars and take backups.

Idea: Use leader election to pick a replica on the fly and only allow that to run backups.

[2017-07-19 05:33] tamalsaha opened #141 "Apply restic.appscode.com/config annotations on Pod templates"
Currently this annotation is only applied on the Deployment metadata.annotations .

[2017-07-19 06:10] tamalsaha opened #142 "Document how to use with kubectl"
Nothing special. But we should document it.

[2017-07-19 12:42] tamalsaha commented on #5
https://github.com/kelseyhightower/kubernetes-initializer-tutorial

[2017-07-19 15:43] tamalsaha opened #143 "Update docs for restic tags"
https://github.com/restic/restic/issues/1081

[2017-08-08 10:48] tamalsaha opened #145 "Cut a new release with restic 0.7.1"
https://restic.github.io/blog/2017-07-25/please-upgrade-to-0.7.1

[2017-08-12 14:12] tweakmy opened #146 "Is it possible for stash/restic to create a point in time snapshot for statefulset?"
As per the topic. Is this even practical?

[2017-08-12 15:08] tamalsaha commented on #146
This is not possible today. Until Kubernetes supports volume snapshotting, this can't be done, I believe.

[2017-08-16 15:39] Rastusik opened #147 "Kops + AWS: cannot unmarshal array into Go value of type types.ContainerJSON"
After trying to run Restic object in AWS (deployed by Kops), I'm getting this error:

[code]

It's the only message in the logs and the container terminates with error.

This is my Restic object definition:

[code]

Any suggestions?

[2017-08-16 19:40] tamalsaha commented on #147
Thanks for reporting the issue. What is the version of your Kubernetes cluster? Can you also show the YAML for the actual Jenkins object?

[2017-08-17 09:08] Rastusik commented on #147
kubernetes version: v1.7.3

jenkins deployment yaml:

[code]

[2017-08-19 06:54] tamalsaha opened #153 "Error in request: v1.ListOptions is not suitable for converting to "v1""
@sadlil I upgraded stash to client-go 4.0.0. Now, I am getting this error. This seems to be related to https://github.com/kubernetes/kubernetes/issues/16376

[2017-08-19 07:55] tamalsaha opened #154 "Use DaemonSet update (1.6)"

[2017-08-19 07:55] tamalsaha opened #155 "`should backup new DaemonSet` failed"
Minikube 1.7
[code]

[2017-08-20 00:37] tamalsaha commented on #147
Hi,
Thanks for sending the full object. I looked around and this seems to be an issue with api version, etc. I am working on updating the client-go to 4.0.0. But that broke the tool #153 . I will keep you posted on this here.

[2017-08-29 10:07] tamalsaha commented on #153
Fixed in #159

[2017-08-29 10:07] #153 closed

[2017-08-29 17:44] tobru opened #161 "Support DeploymentConfiguration of OpenShift"
Would it be possible for stash to support the `DeploymentConfiguration` object of OpenShift? It's very similar to the `Deployment` object of Kubernetes.

[2017-08-31 00:16] tamalsaha commented on #161
Thanks for filing this issue. I am not familiar with OpenShift specific extensions. If you are interested in contributing pr, we will be happy to take a look. Some questions I have:
- Is this a CRD? We don't support TPRs any more.
- Is there an official GO library that defines this type that we can use here?

[2017-09-09 15:17] tamalsaha opened #165 "Use fixed Hostname for ReplicaSet etc"
https://github.com/restic/restic/issues/1221#issuecomment-328272614

[2017-09-11 05:28] #97 closed

[2017-09-11 05:28] #56 closed

[2017-10-01 14:54] fabiormoura opened #175 "[Bug] Success/Fail prometheus metrics inverted condition"
Hi,

I found two of the metrics sent to pushgateway with its boolean values flipped.

See snippet below where it happens:

https://github.com/appscode/stash/blob/e6065cb275eefd915ca4e68ae1a336f6510c091b/pkg/scheduler/scheduler.go#L289-L295

I believe the expected behaviour is having the success metric as 0 and fail as 1 when `err != nil`

[2017-10-09 11:27] HerrmannHinz opened #189 "invalid header field value for key Authorization - DO s3 bucket"
hello,

trying to get stash working against digital ocean's s3 dependance called "spaces".
see: [https://www.digitalocean.com/community/tutorials/an-introduction-to-digitalocean-spaces](https://www.digitalocean.com/community/tutorials/an-introduction-to-digitalocean-spaces)

i get the following errors:

`[golang-sh]$ /bin/restic snapshots --json
unable to open config file: Stat: Get https://nyc3.d

[2017-10-09 11:31] tamalsaha commented on #155
Fixed now.

[2017-10-09 11:32] tamalsaha commented on #155
https://github.com/appscode/stash/pull/188

[2017-10-09 11:32] #155 closed

[2017-10-09 13:09] tamalsaha opened #191 "StatefulSet: Forbidden: pod updates may not add or remove containers"
Only works as initializer

[2017-10-09 13:39] #154 closed

[2017-10-09 13:42] #175 closed

[2017-10-09 13:42] tamalsaha commented on #175
Thanks @fabiormoura ! It is fixed in master branch now.

[2017-10-09 14:04] tamalsaha commented on #189
I tried using the latest restic cli from command line. It seems to work:
[code]

[2017-10-09 14:12] tamalsaha commented on #140
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_ref_manager.go#L34

[2017-10-09 14:26] HerrmannHinz commented on #189
yup. tried it from within the container(appscode/stash:0.5.0-beta.0) of a demo pod
and i can confirm as well, using the /bin/restic (0.7.3) cli - works.

let me know if and how to test the updated binary. u talking about the stash bin i assume?

[2017-10-09 14:35] tamalsaha commented on #189
We are going to cut a release for 0.5.0

[2017-10-10 06:18] tamalsaha commented on #189
We have released 0.5.0

[2017-10-10 06:18] #189 closed

[2017-10-10 06:18] tamalsaha commented on #147
@Rastusik, can you check with the 0.5.0 release?

[2017-10-10 06:19] #145 closed

[2017-10-10 06:19] #147 closed

[2017-10-10 06:21] tamalsaha commented on #161
@tobru , now that we have released 0.5.0, we can potentially look at supporting this. I wonder if you can answer the questions above? If you are not interested in this, can you close this issue?

[2017-10-10 06:24] tamalsaha commented on #141
We don't need to do this.

[2017-10-10 06:24] #141 closed

[2017-10-10 06:26] tamalsaha commented on #146
Dup #4

[2017-10-10 06:26] #146 closed

[2017-10-10 06:26] #106 closed

[2017-10-10 06:28] tamalsaha commented on #13
SS are going to support adding/removing containers. So, this will not be needed.

[2017-10-10 06:28] #13 closed

[2017-10-10 06:33] tamalsaha opened #195 "Periodically run restic check"
https://restic.github.io/blog/2017-07-25/please-upgrade-to-0.7.1

https://github.com/restic/restic/blob/abe6e0d22d6216959d77f1c0f23b7afeb8fec5b2/doc/045_working_with_repos.rst#checking-a-repos-integrity-and-consistency

[2017-10-10 08:47] tobru commented on #161
@tamalsaha sorry for not getting back to you earlier. I'm still interested in support for the `DeplymentConfiguration` object.

I'm not a GO developer, so that would be (too) hard for me at the moment.

No, it's a "core" object of OpenShift.

Probably yes, but I'm not sure about it. The sourcecode of OpenShift lies here: https://github.com/openshift/origin. And there is an extraction of the OpenAP

[2017-10-10 15:09] #142 closed

[2017-10-10 15:09] tamalsaha commented on #142
Fixed in #196

[2017-10-10 15:24] #143 closed

[2017-10-24 11:26] tamalsaha commented on #140
Leader Election:
http://blog.kubernetes.io/2016/01/simple-leader-election-with-Kubernetes.html
Sample Code using ConfigMap resource: https://github.com/coreos/container-linux-update-operator/blob/master/pkg/operator/operator.go

Owner Ref:
https://github.com/appscode/voyager/blob/fa150659ebba7595f38dee18ac562b44d7458391/pkg/ingress/controller.go#L79

[2017-11-01 04:30] tamalsaha commented on #5
https://github.com/appscode/steward/blob/master/hack/deploy/without-rbac.yaml

[2017-11-09 06:14] tamalsaha opened #211 "Ensure restic commands are not run simultaneously"
https://stackoverflow.com/a/1985512/244009

[2017-11-10 01:42] fabiormoura opened #212 "[0.5.0] Record backup event on kubernetes failure"
After restic backed up an event should be recorded on kubernetes as you see below:
https://github.com/appscode/stash/blob/d56e913c92b1b8601d41290c9a017aebcc032e0f/pkg/scheduler/scheduler.go#L273

But logs show event registration failed:

[code]

[2017-11-10 02:24] tamalsaha commented on #212
Thanks for reporting the issue. What is your Kubernetes version?

[2017-11-10 12:29] tamalsaha opened #213 "Record recovery status for individual FileGroup"
- [x] Continue recovery if one filegroup fails to restore.

[2017-11-10 12:30] tamalsaha opened #214 "Collect Prometheus stats for Recovery"

[2017-11-10 14:19] tamalsaha opened #215 "Recover specific snapshot ID"
[code]

[2017-11-10 14:26] tamalsaha opened #216 "Reimplement CheckRecoveryJob using Job watcher"
@diptadas , currently we timeout after 30 mins. Restore operations can take longer. We must watch Jobs and delete COMPLETED pods based on that.

[2017-11-10 14:31] tamalsaha opened #217 "Consider tags for Recovery CRD"

[2017-11-10 14:34] tamalsaha opened #218 "LeaderElection part -2"
- [x] Record leader pod's name in for target workload
- [x] Fix RBAC for configmap

[2017-11-10 15:40] tamalsaha opened #219 "Events are not recording for Recovery"

[2017-11-11 12:28] #140 closed

[2017-11-11 12:48] tamalsaha opened #220 "Dynamically create stash-sidecar ClusterRole in operator"
This is needed when stash is installed via Helm.

[2017-11-12 00:39] #220 closed

[2017-11-12 00:59] tamalsaha commented on #218
leader library records event against the configmap
https://github.com/kubernetes/client-go/blob/72e1c2a1ef30b3f8da039e92d4a6a1f079f374e8/tools/leaderelection/resourcelock/configmaplock.go#L97

[2017-11-12 01:00] #218 closed

[2017-11-12 01:00] tamalsaha commented on #218
cc: @diptadas

[2017-11-12 01:01] #5 closed

[2017-11-12 01:01] #191 closed

[2017-11-12 02:16] #213 closed

[2017-11-12 02:48] #195 closed

[2017-11-13 05:07] tamalsaha opened #224 "Test RBAC setup"

[2017-11-13 15:10] tamalsaha opened #225 "Feature: Support offline consistent backups"
**User Story**
As a user, I want to take consistent backup of my workloads even if that means I have to take it offline. Examples are: nightly back up of database of Confluence, sentry etc. Some of these applications are deployed via Helm. So, user has no control over how the DB is provisioned.

[2017-11-13 15:33] tamalsaha commented on #225
**Design Ideas**
Here are some rough ideas on how this can be done:
- We add a new `stash backup` command that takes one off backup and exits.
- Instead of adding stash sidecar, we add stash as [init containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/)
- Then we create a [CronJob](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/). This will run on sc

[2017-11-14 11:05] RonnyMaas opened #226 "Unable to use non-aws S3 backend"
I configured a non-aws s3 backend (Ceph Object Gateway S3 API) for snapshot backups.
But It's not working and stash has the following errors.

[code]
My used configurations for s3 backends are:
- In ./docs/examples/tutorial/restic.yaml

[code]
- In ./docs/examples/backends/s3/s3-restic.yaml
[code]
- kubernetes 1.7.5 resources
[code]

[code]

[code]

[code]
the s3 url is correct and bucket was alre

[2017-11-14 11:17] tamalsaha commented on #226
Can you share the YAML of secret you used (obfuscating the actual data) and the YAML of Restic ?

[2017-11-14 12:00] RonnyMaas commented on #226
kubectl get secret stash-demo -o yaml
apiVersion: v1
data:
  RESTIC_PASSWORD: zzzzzzzzzz
kind: Secret
metadata:
  creationTimestamp: 2017-11-14T09:42:58Z
  name: stash-demo
  namespace: default
  resourceVersion: "2510792"
  selfLink: /api/v1/namespaces/default/secrets/stash-demo
  uid: 327e5c8f-c920-11e7-a1de-fa163e4a3377
type: Opaque

kubectl get restic s3-restic -o yaml

apiVersion: stash.appsc

[2017-11-16 04:25] tamalsaha commented on #225
[code]

[2017-11-16 04:54] tamalsaha commented on #225
- [ ] Launch a post `restic check` job

- [ ] Delete Cron Job, Check Job ?

[2017-11-16 10:11] diptadas opened #227 "Fix ConfigMap Name in Leader Election"
[code]

https://github.com/appscode/stash/blob/master/pkg/util/kubernetes.go#L454

[2017-11-16 10:45] #227 closed

[2017-11-30 19:48] HerrmannHinz commented on #189
quick note here:

- we found some issues in the stash code which have been fixed in >0.5.0, right?
- the restic debug message was a little bit unclear, also turned out that i had bad kubernetes/DO credentials in use when doing the backups.

[2017-11-30 19:52] tamalsaha commented on #189
I believe all issues were addressed by 0.5.1 . If you see new issues, please update here.

[2017-11-30 19:55] HerrmannHinz commented on #189
@tamalsaha no i don't - but check this:
https://github.com/appscode/stash/issues/189

[2017-11-30 19:56] tamalsaha commented on #189
Yeah. 0.5.1 was cut after this (Oct 10).

[2017-12-04 05:17] #225 closed

[2017-12-04 05:17] #219 closed

[2017-12-04 05:17] tamalsaha commented on #219
The issue is that binary is exiting before Event could be recorded.

[2017-12-04 05:32] #216 closed

[2017-12-04 05:33] tamalsaha commented on #212
Fixed in master

[2017-12-04 05:33] #212 closed

[2017-12-05 04:14] tamalsaha opened #237 "Upgrade procedure for 0.5.1 -> 0.6.0"
- [x] Restic YAML fix
- [x] Repository location
- [x] Update StatefulSet side-cars and restart pods.
- [x] `strings.Lower(workload.Kind)` https://github.com/appscode/stash/blob/2becb354e43573909fb4e80de0186256d6f4d290/apis/stash/v1alpha1/workload.go#L37

[2017-12-05 04:32] tamalsaha opened #238 "Enable --cache-dir"
https://github.com/restic/restic/blob/master/doc/manual_rest.rst#caching

[2017-12-08 10:59] diptadas commented on #237
If we delete old `Restic` and re-deploy it after moving repository contents to new location, backup count in `Rsetic` status will start from zero again.  Instead we can do following:
- Change `Restic` selector to an invalid one
- Move repository contents to new location
- Update `Restic` selector to previous one

[2017-12-12 04:08] #238 closed

[2017-12-18 00:22] tamalsaha opened #244 "offline backup is not supported for workload kind `Deployment`, `Replicaset` and `ReplicationController` with `replicas > 1`"
@dipta, the follow up init containers can check that there was a recent backup and do nothing.

[2017-12-19 04:33] tamalsaha commented on #244
- [ ] Annotate workload with last backup end timestamp
 - [ ] Running pod found

[2017-12-20 11:58] galexrt opened #248 "Replace fmt.Print* with log statements"
It would be good to have better control over the log amount of stash through the `--v=X` flag. This is currently not fully possible for the whole output of the stash operator as there are some points in code where for example `fmt.Printf()` is used and which is then "spamming" the output even though the `--v=0` is set.

Example code lines:
* https://github.com/appscode/stash/blob/7241c6ddfb409d7b8

[2017-12-23 02:44] tamalsaha commented on #248
Please send a pr :)

[2017-12-23 18:09] #248 closed

[2017-12-27 12:54] xpowerman opened #256 "Error while running restic"
Hi. I make my own restic.

[code]

After kubectl apply -f ./voipmonitor-restic.yaml, i have errors in stash operator logs.
[code]

What does it mean? And how to solve this problem?

[2018-01-02 04:37] whereisaaron commented on #125
First thing I checked for when I was point at `stash` 😄

[2018-01-02 04:51] tamalsaha commented on #125
@whereisaaron, will you help us test this? I don't have a B2 account. The code is mostly there.

[2018-01-02 16:11] whereisaaron commented on #125
Yes, love too @tamalsaha . Can likely test this week and next, as I am testing some new automated cluster deployments (k8s 1.8). Point me at a test image ideally.
B2 accounts are free for the first 1 Gb and no credit card required to sign up. I think you just need to verify a phone number. But I'll be happy to test too. https://www.backblaze.com/b2/sign-up.html

[2018-01-03 08:22] #237 closed

[2018-01-03 08:24] tamalsaha commented on #125
Can you try the new 0.6.0 release? Please check the instructions here: https://appscode.com/products/stash/0.6.0/guides/backends/

[2018-01-03 08:26] tamalsaha commented on #131
We have released 0.6.0 with Recovery support using CRD. https://appscode.com/products/stash/0.6.0/guides/restore/

Please give it a shot and let us know if you see any issues or have feature requests.

[2018-01-03 08:26] #131 closed

[2018-01-03 08:27] tamalsaha commented on #256
Please try the just released 0.6.0 version. This should be fixed now.https://github.com/appscode/stash/releases/tag/0.6.0

[2018-01-03 08:27] #256 closed

[2018-01-03 08:28] tamalsaha commented on #226
Hi,
Can you please try the new 0.6.0 release and see if you still see the issue?

https://github.com/appscode/stash/releases/tag/0.6.0

[2018-01-03 08:28] #226 closed

[2018-01-03 08:50] galexrt opened #266 "Image kubectl not found because of Kubernetes version"
The operator fails to start when the Kubernetes version looks like this:
[code]
This fails because of the `+` in the minor version part.
Code ref: https://github.com/appscode/stash/blob/aa91dadd1ac97792a19e6d5470a6f80acdbb9e20/pkg/cmds/run.go#L61

Operator logs:
[code]

***

A fix would be to remove every non-numeric char from the minor version string.
What do you think should be changed here so i

[2018-01-03 09:10] #224 closed

[2018-01-03 09:11] tamalsaha commented on #266
https://github.com/appscode/stash/commit/ac4e8c93a982eb58b085a459779dd37edd986c01

[2018-01-03 09:12] tamalsaha commented on #266
Just noticed that. in GKE:

[code]

[2018-01-03 09:31] tamalsaha commented on #266
Fixed in 0.6.1

[2018-01-03 09:31] #266 closed

[2018-01-03 09:33] tamalsaha commented on #266
Thanks for the quick error report :)

[2018-01-03 11:31] tamalsaha opened #271 "Garbage collect s/a and rolebindings for *Jobs"
- [ ] Recovery Job
- [ ] Check Job for offline backups
- [ ] Kubectl cron jobs for offline backups

[2018-01-03 22:19] galexrt opened #272 "Created stash-sidecar clusterrole is missing statefulsets permission"
See https://github.com/appscode/stash/blob/ea46d9a96eb679426183bf77b93ce1033a5989fb/pkg/controller/rbac.go#L99.
I can't backup StatefulSets because Restic tells me the ServiceAccount.
[code]
The `stash-example` ServiceAccount is correctly bound to the ClusterRole `stash-sidecar`.
A fix is on it's way.

***

**Edit**: Adding `statefulsets` to the `apps` api part, fixes the issue and allows Restic s

[2018-01-04 01:06] #272 closed

[2018-01-04 09:56] #271 closed

[2018-01-05 00:03] whereisaaron commented on #125
Hi @tamalsaha, I am testing 0.6.1 with B2 on a k8s 1.8 cluster with RBAC.

Unfortunately the RBAC permission in the official/stable Helm chart don't see sufficient. See `operator` log below.

[code]

This is what the Helm chart deploys for RBAC. Can you spot what is missing? Seems like it is after `clusterroles.rbac.authorization.k8s.io` but dosn't grant that to itself?

[code]

[2018-01-05 00:46] tamalsaha commented on #125
The official /stable chart has not been published after the release. Can you please try the chart in this repo? https://github.com/appscode/stash/tree/master/chart/stable/stash

[2018-01-05 01:06] whereisaaron commented on #125
Will do. That one does look better.

[2018-01-05 02:21] tamalsaha commented on #125
https://github.com/kubernetes/charts/pull/3235

fyi.

[2018-01-05 02:31] whereisaaron commented on #125
@tamalsaha could you consider adding my small PR #3234 to that updated chart kubernetes/charts#125?

[2018-01-05 03:31] whereisaaron commented on #125
Hi @tamalsaha, the RBAC in that Helm chart worked great thanks.

The B2 backworked also worked fine for the demo backup. Yay!

I'll use it more the next week and try some restores. I guess you can close this one as a success and I'll report any issues I hit. Thanks for your work to add B2.

A minor gripe is few unwanted line-breaks in the logging, that's going to get all separated and messed up in

[2018-01-05 04:03] whereisaaron opened #279 "Consider a simple 'enabled' switch for Restic CRD"
I know there are [a couple ways to disable backups](https://appscode.com/products/stash/0.6.2/concepts/crds/restic/), but neither are great IMHO. I'd rather not 'lose' the CRD by deleting it, nor 'damage' the CRD (change selector or schedule) just to disable it temporarily.

Could you consider a simple `spec.enabled: true/false` flag that left the CRD intact but disabled. I guess the only way to c

[2018-01-05 04:06] tamalsaha commented on #125
I think we can just pass `restic` output to /dev/null. To show showing restic commands, we need to set `ShowCMD = false` https://github.com/appscode/stash/blob/321d741480afa422db8c9a07cfbbd863d51bca18/pkg/cli/restic.go#L31

[2018-01-05 04:06] #125 closed

[2018-01-05 04:07] tamalsaha opened #280 "Avoid logging `restic` output"
I think we can just pass `restic` output to /dev/null. To show showing restic commands, we need to set `ShowCMD = false` https://github.com/appscode/stash/blob/321d741480afa422db8c9a07cfbbd863d51bca18/pkg/cli/restic.go#L31

ref: https://github.com/appscode/stash/issues/125#issuecomment-355435062

[2018-01-05 04:10] whereisaaron opened #281 "Double Deployment patch when deleting a Restic CRD?"
When deleting a Restic CRD pointing to a Deployment, the sidecar is patched out of the Deployment, and this the Pod is re-created. However I noticed the Deployment seems to get patched twice? See below upon deleting the CRD, the Pod was re-created twice in quick succession, the first time still with a sidecar, and the second time without.

Is this two-step process expected/necessary for removing t

[2018-01-05 04:25] whereisaaron commented on #125
It's a hard choice @tamalsaha , because I do like seeing the stats about files, size, and upload time. And if an error occurs you'd want to see the stderr output from restic. Maybe the command line echo and restic stdout output could be tied to the next up '-v' log level.

[2018-01-05 04:27] whereisaaron commented on #280
The `restic` output is interactive stuff with line breaks galore and not ideal for logging. However. it's a hard choice, because I do like seeing the stats about files, size, and upload time. And if an error occurs you'd want to see the `stderr` output from restic. Maybe the command line echo and restic `stdout` output could be tied to the next up '-v' log level.

[2018-01-05 04:34] tamalsaha commented on #125
yeah! Btw, please file issues / features requests for any stash stuff as you try it. We would love to get any feedback.

[2018-01-05 09:21] galexrt opened #282 "Verbosity (--v) flag not inherited to backup sidecars"
When the operator is run with `--v=0` the sidecar containers still get `--v=3` (or for canary `--v=5`) as the log level.
It would be good if this is inherited.
Code ref:
https://github.com/appscode/stash/blob/6f10418a9f1389814157ee141fa2fd8a0a9ad46a/pkg/util/kubernetes.go#L266

[2018-01-05 09:35] galexrt opened #283 "PushGateURL not given to sidecar container"
The PushGateURL is not set on the sidecar containers.
Because of that they always use the default URL which is `http://stash-operator.NAMESPACE_OF_POD.svc:56789`.
This causes no metrics to be delivered to the pushgateway.

**Example**:
stash-operator Pod with pushgateway is in namespace `kube-system` and an application Pod is in namespace `example` then the URL used is "always" `http://stash-opera

[2018-01-05 10:30] #283 closed

[2018-01-05 10:58] galexrt opened #285 "Add Stash Backup Grafana dashboard to monitoring docs"
Grafana Dashboard: https://grafana.com/dashboards/4198
Snapshot: https://snapshot.raintank.io/dashboard/snapshot/qbdKO3SvzlP3RVoD2589esTLu48e5TC1?orgId=2

[2018-01-05 21:58] #285 closed

[2018-01-11 09:22] tamalsaha opened #288 "Support custom CA cert with backend"
https://github.com/restic/restic/pull/1276

[2018-01-11 12:01] tamalsaha commented on #288
From `dsafont` in Slack:

[2018-01-17 13:32] #282 closed

[2018-01-18 08:07] diptadas opened #290 "Test Failed: Invalid argument error in sidecar container"
[code]

[2018-01-18 10:11] #290 closed

[2018-01-24 04:17] diptadas opened #293 "Backup count rises even when backup/init fails"

[2018-01-26 08:43] xpowerman opened #303 "Recovery not working!"
Hi. I install stash via helm with rbac on kubernetes 1.9. I make restic for deployment.

[code]
Seems that it make backups, because a backup count increased and some files appears in backend.

[code]

Then I try to test restore. I remove everything from /var/www inside my deploy container and make recovery like this.

[code]
Then try to watch status of recovery. And it allways in running state and

[2018-01-26 09:42] diptadas commented on #303
Hi @xpowerman, which version of stash operator are you using?
You need to provide a volume-source instead of name in recoveredVolumes.
See [here](https://github.com/appscode/stash/blob/master/docs/concepts/crds/recovery.md#specrecoveredvolumes)

[2018-01-26 23:37] #293 closed

[2018-01-29 06:51] xpowerman commented on #303
I use 0.6.3 version. Did you mean that I need to write persistentvolume name, if I use rook storage with persistent volume claim? I write pvc name
kubectl get pvc -n voipmonitor
[code]

[2018-01-29 07:06] diptadas commented on #303
[code]
You need to specify `claimName` as described [here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#claims-as-volumes).

[2018-01-29 08:24] diptadas commented on #303
Currently you can only restore the latest snapshot. We are working on restoring specific backup.

[2018-01-29 11:42] xpowerman commented on #303
Ok. Thank you. Frequently when I delete and then create restic againg, I don't see status output.

[code]
In stash oerator log I see:

`I0129 11:07:23.042574       1 deployment.go:56] Patching Deployment voipmonitor/voipmonitor-gui with {"metadata":{"annotations":{"restic.appscode.com/last-applied-configuration":"{\"kind\":\"Restic\",\"apiVersion\":\"stash.appscode.com/v1alpha1\",\"metadata\":{\"n

[2018-01-29 12:29] tamalsaha commented on #303
@xpowerman, can you share the log for the `stash` sidecar ? Also, which cloud provider are you using? Can you please show `kubectl version` ?

[2018-02-03 05:34] #288 closed

[2018-02-06 04:41] tamalsaha opened #319 "Show repository snapshot list"
- [x] Add api types
- [x] Create Repository crd
- [x] Implement registry for Snapshot
- [ ] Update docs/installer

[code]

[2018-02-06 05:17] tamalsaha opened #320 "Rename Restic to Backup"

[2018-02-06 06:07] tamalsaha commented on #111
Dup #319

[2018-02-06 06:07] #111 closed

[2018-02-06 06:45] tamalsaha opened #321 "Use informer factory for backup scheduler"

[2018-02-06 09:10] #279 closed

[2018-02-06 18:41] whereisaaron commented on #279
Yay! ❤️

[2018-02-06 18:49] whereisaaron commented on #320
I thought the same things the first time I tried `stash` but I thought it petty to bring it up :smile:
So yeah, I fully support this change. While `restic` is just great, no reason `stash` couldn't support `restic` and something else down the line (e.g. [`duplicacy`](https://github.com/gilbertchen/duplicacy), if @gilbertchen were to switch to a free software license for the command line at some po

[2018-02-07 05:17] tamalsaha commented on #281
I believe this is happening because of https://github.com/appscode/stash/blob/master/pkg/util/kubernetes.go#L142 .

In old days ( <= 1.6), DaemonSet pods will not restart when it's spec was changed. So, I decided to actively check for pods without sidecar etc and restart them. This causes this behavior,  because we delete the old pod, because the Deployment controller is ready to delete this.

[2018-02-07 05:39] tamalsaha commented on #281
We have decided to set the `spec.updateStrategy` to `RollingUpdate` for DaemonSet and StatefulSet. And remove these 2 method calls from all 5 workload types.

[2018-02-07 14:45] #281 closed

[2018-02-07 15:53] tamalsaha opened #324 "Deal with restic 's lock feature"
https://github.com/restic/restic/issues/1450

[2018-02-07 15:54] tamalsaha commented on #211
Dup #324

[2018-02-07 15:54] #211 closed

[2018-02-08 10:51] tamalsaha commented on #72
Side car will automatically update since 0.5.0. The key thing to remember here is that if the restic cli version is updated, we need to ensure that restic repository format is backward compatible.

[2018-02-08 10:51] #72 closed

[2018-02-08 10:59] tamalsaha opened #326 "Convert Initializer to MutationWebhook"

[2018-02-08 11:03] tamalsaha opened #327 "Implement RecoverySet"
It is like ReplicaSet but for Recovery CRD.

[code]

[2018-02-09 18:28] #321 closed

[2018-02-16 16:07] tamalsaha commented on #161
Type Definition: https://github.com/openshift/origin/blob/v3.7.1/pkg/apps/apis/apps/v1/types.go#L27

Client: https://github.com/openshift/client-go/blob/master/apps/clientset/versioned/typed/apps/v1/deploymentconfig.go#L15

[2018-02-20 04:31] tamalsaha commented on #161
https://github.com/minishift/minishift

[2018-02-20 09:18] #244 closed

[2018-02-20 16:17] pastukhov opened #350 "Ability to backup volumes with ReadWriteOnce access mode"
Hello!
Is it possible to backup with stash content from PV that have ReadWriteOnce access mode?
Such as ceph-rbd volumes.

Thanks!

[2018-02-20 18:51] whereisaaron commented on #350
Yes, because Stash is injected as a sidecar in the same Pod as the app that is using the PV, and so has access to the same PV's and the app, even the ReadWriteOnce ones.

[2018-02-21 08:37] #350 closed

[2018-02-23 12:38] ndarilek opened #351 "Support for --stdin and --stdin-filename Restic backup options"
Just started using Restic, and I like how I can use the `--stdin` option when backing up to pipe the output of a database dump directly into a snapshot.

Might be nice to add something like:

[code]

as an option instead of a list of files to back up? That command would then be exec'd in the container for which Stash is a sidekick. Obviously this would fail if the command does, or if the selector

[2018-02-25 00:49] tamalsaha commented on #350
I have updated the readme to make this point clear. Thanks @whereisaaron !

[2018-02-26 05:36] whereisaaron opened #353 "[0.7.0-rc.0] Fails on start-up with 'cluster doesn't provide requestheader-client-ca-file'"
Version 0.6.x is working find on my k8s 1.8.7 clusters (`kube-aws`), but wiping and redeploying with the 0.7.0-rc.0 container leads to a crash loop with the error: 'cluster doesn't provide requestheader-client-ca-file'.

[code]

[2018-02-26 06:22] whereisaaron opened #354 "[0.6.x] Helm chart broken due to undocumented '--docker-registry' and other arguments"
Trying to revert to 0.6.x fails because the chart has had an apparently required arguments added to the Deployment, but none of them are in `values.yaml` or documented in the chart `README.md`. There are several, like `--docker-register`, `--secure-port`, `--audit-log-flag`, `--tls-cert-file`, `--tls-cert-private-key`.

Look like [this patch](https://github.com/appscode/stash/commit/050c99917236b6

[2018-02-26 06:28] whereisaaron commented on #354
Look like health probe needs to be different too, if there is no `--secure-port` for 0.6.x deploys.

[code]

[2018-02-27 08:18] tamalsaha commented on #353
The issue is that the kube apiserver in your cluster does not have `--requestheader-client-ca-file` flag set.

From: https://kubernetes.io/docs/reference/generated/kube-apiserver/
[code]

Once you have set this up properly, please check that the configmap `extension-apiserver-authentication-reader` in kube-system namespace has key `requestheader-client-ca-file`.

[code]

If you are new to the aggr

[2018-02-28 02:50] whereisaaron commented on #353
Hi @tamalsaha thanks for the tips. These are `kube-aws` clusters and aggregation and `--requestheader-client-ca-file` are [configured automatically](https://github.com/kubernetes-incubator/kube-aws/blob/v0.9.9/core/controlplane/config/templates/cloud-config-controller#L2713) and the `extension-apiserver-authentication` ConfigMap is created (see below).

I have been deploying Stash in its own names

[2018-02-28 02:56] tamalsaha commented on #353
So, we create a RoleBinding in kube-system namespace that gives the stash serviceaccount (in the installed namespace) read permission on this configmap.

chart: https://github.com/appscode/stash/blob/d70fc0b286bad15cc99f3f4ffdb4d88d7d1b7c09/chart/stable/stash/templates/apiregistration.yaml#L42

YAML: https://github.com/appscode/stash/blob/d70fc0b286bad15cc99f3f4ffdb4d88d7d1b7c09/hack/deploy/rbac-l

[2018-02-28 03:07] whereisaaron commented on #353
Yep, that is there. I am using the current/master `helm` chart.

[code]

[2018-02-28 17:33] tamalsaha commented on #354
Please reopen if using the chart from release-0.6 does not solve this issue.

[2018-02-28 17:33] #354 closed

[2018-03-02 06:41] tamalsaha commented on #303
Please try the 0.7.0-rc.0 release. Reopen if you are still having problem.

[2018-03-02 06:41] #303 closed

[2018-03-05 02:17] tamalsaha commented on #353
@whereisaaron , there was a bug in how service account name was used. It has been fixed here: https://github.com/appscode/stash/commit/cb573593845e7ce136c4fb900acac16c2d1e6325

Please try with the new chart from master and see if that fixes the issue.

[2018-03-07 15:34] tamalsaha opened #366 "Allow setting `nice` and `ionice` for backup command"
The idea is to allow setting `nice` and `ionice` parameters to allow CPU and IO "load" to be "controlled".

So to not "overload" the system, those two commands can be used to throttle the load on CPU and IO.
**Example**: `ionice -c "$IONICE_CLASS" -n "$IONICE_CLASSDATA" nice -n "$NICE_ADJUSTMENT" restic backup [...]`

***

From @galexrt in Slack.

[2018-03-07 16:52] tamalsaha opened #367 "Allow default backup"
We could mark a Restic object as default. If a deployment does not have a specific Restic match, it will be use this default Restic to perform backup.

This will give user's default opt-in to backup ability. If they want to opt-out, they can pause their specific Restic or mark deployments will pause annotation.

[2018-03-07 16:53] tamalsaha opened #368 "Test against a Helm managed Deployment"

[2018-03-09 19:24] whereisaaron commented on #353
@tamalsaha I wiped everything and tried over with the latest chart, but no change in behaviour.

I deleted the entire deployment `helm delete --purge`. I updated the chart against master, the deployed with exactly the default values from the newest chart (`helm inspect values`). It crashes with the following error, even though all these exist (in `kube-system`):
- `configmap/extension-apiserver-au

[2018-03-09 19:32] whereisaaron commented on #353
The charts starts with this option blank `--requestheader-client-ca-file=""`, does that means it defaults to load from that `extension-apiserver-authentication` configmap?

`configmap/extension-apiserver-authentication` doesn't appear to be mounted anywhere

[code]

[2018-03-09 20:04] whereisaaron commented on #353
@tamalsaha, putting this on hold I am going to double-check the apiserver arguments, looks like the options are on the metrics server only.

[2018-03-09 20:04] #353 closed

[2018-03-10 02:20] tamalsaha commented on #353
This is not mounted rather Stash ([k8s.io/apiserver](https://github.com/kubernetes/apiserver/blob/66da060b9e5e1f415bbaff2c0956518656534ce8/pkg/server/options/authentication.go#L230)) loads it via Kubernetes api. Hence the RBAC is required.

[2018-03-10 02:50] whereisaaron commented on #353
Right, well I think I have solved this and you were right in the first the place; The `apiserver` did not have the right options, I was fooled when I grep'd the stack for the options because there were on the metric server (but not on the `apiserver`).

I added the following options to the `apiserver` on the controller nodes, and now 0.7.0-rc.0 runs when deployed with the helm chart. I haven't rea

[2018-03-10 05:56] tamalsaha commented on #353
Glad that you got it running finally. Please note that the ca file used for `--requestheader-client-ca-file` should be different from the `client-ca-file` used by kubectl. Otherwise, anyone can spoof the auth headers.

[2018-03-10 14:47] whereisaaron commented on #353
Yeah I wondered about exactly that. Those setting are straight from the examples people provided and I had supposed we were supposed to limit the trusted certificates through a list of CNs in `requestheader-allowed-names`.

But it should be a whole separate CA? `requestheader-client-ca-file` is just just the public cert, so there are no certficiates signed by it? Do I then need to provide a signed

[2018-03-10 15:55] tamalsaha commented on #353
I am going to try to explain why you need a separate CA for request header. When an extended api server is used, this is what a `kubectl get ***` looks like:

[code]

In step `(1)`, the main kube api server uses a CA certificate signed by the `client-ca-file`. This is the CA file that is also present in you local ~/.kube/config file. So, when kubectl calls kube api server, it can trust the identif

[2018-03-10 16:19] tamalsaha commented on #353
Looking at the [code for Kubernetes aggregation layer](https://github.com/kubernetes/kube-aggregator/blob/master/pkg/cmd/server/start.go#L138), it seems to me that you need to provide  `--proxy-client-cert-file` and `--proxy-client-key-file` files signed by `requestheader-ca`.

My sense is that `extension-apiserver-authentication` is designed as a way to automatically discover trust information fo

[2018-03-14 12:56] emruz-hossain opened #371 ""DeprecatedServiceAccount not present in src" while converting unversioned StatefulSet to v1beta1.StatefulSet"
While trying to convert **unversioned** `StatefulSet` to `v1beta1.StatefulSet` getting this error.
[code]
`ServiceAccountName` is empty in unversioned type. YAML for my unversioned StatefulSet is [here](https://gist.github.com/emruz-hossain/30be298069c23ca8f08852c82e55d72b)

[2018-03-14 16:29] tamalsaha opened #373 "Forget panics in 0.7.0-rc.0"
From @galexrt in Slack:

It seems that backups work when the Check Job does **not** exist and is then created in the process after the backup. When another backup is triggered in that time (replicas > 1) the whole process seems to panic (for whatever reason) and fail with "Check Job already exists" in the end sometimes

that is weird it seems to work sometimes.. now after a successful backup and f

[2018-03-14 16:30] tamalsaha commented on #373
Find full conversation : https://appscode.slack.com/files/U8LQ66AGY/F9QQC5Y07/-.txt

[2018-03-14 17:18] tamalsaha opened #374 "Add cluster name in repo path"
A user has one cluster in US and one cluster in EU with same exact setup. Right now this will cause conflicts. Obviously should use be writing to one global bucket? I would say no. But adding a cluster name (like we do in kubed), user can further nest the repo path.

Just a thought.

[2018-03-16 13:16] tamalsaha commented on #371
Fixed after using legacyscheme, @emruz-hossain  ?

[2018-03-20 15:51] tamalsaha commented on #366
Reading material:
- http://kennystechtalk.blogspot.com/2015/04/throttling-cpu-usage-with-linux-cgroups.html
- https://oakbytes.wordpress.com/2012/06/06/linux-scheduler-cfs-and-nice/

https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/
`By default, the kubelet uses CFS quota to enforce pod CPU limits` .

[2018-03-20 15:59] tamalsaha commented on #366
I think there is use-case for both of nice (reducing priority) and throttle (cpu limits). PR is welcome!

[2018-03-21 08:52] tamalsaha commented on #319
[code]

[2018-03-21 10:20] #373 closed

[2018-03-21 10:20] tamalsaha commented on #373
Fixed

[2018-03-21 11:09] tamalsaha commented on #326
Fixed

[2018-03-21 11:09] #326 closed

[2018-03-21 11:12] tamalsaha commented on #161
Docs:
- https://docs.openshift.com/container-platform/3.9/dev_guide/deployments/how_deployments_work.html
- https://docs.openshift.com/container-platform/3.9/architecture/core_concepts/deployments.html#deployments-and-deployment-configurations
- https://docs.openshift.com/container-platform/3.9/rest_api/apis-apps.openshift.io/v1.DeploymentConfig.html

[2018-03-21 17:33] #371 closed

[2018-03-24 10:09] pierreozoux opened #388 "Backup/restore database (KubeDB integration)"
How do you backup such volumes?
The volume in itself is not really interesting, we need to dump data first.

What about puting a label on such volumes, and do a dump instead?

[2018-03-24 17:03] dzolotov opened #392 "Recovery to PVC restores data in subdirectory instead of root directory"
The data was successfully backed up from PVC-attached block device, but after restore the files were placed in subdirectory with name, equals to last directory of original path, instead of original location. For example, if the original volume is mounted to /var/lib/grafana (from PVC), after recovery, the data is found in /var/lib/grafana/grafana.

Original restic yaml:
[code]
Recovery YAML:
[code

[2018-03-25 10:58] emruz-hossain opened #395 "Sidecar RoleBinding is not being created when Mutating Webhook is enabled"
Sidecar RoleBinding is not being created when Mutating Webhook is enabled and RBAC is enabled.
When try to create new deployment get following error:
[code]
**Stash Version:** 0.7.0-rc.2
**kubectl version:** v1.9.0
**How to recreate ??**
1. Install stash with --rbac and --enable-mutating-webhook
2. Create ```Restic```.
3. Create a deployment that has label that match Restic selector.

**Reason:**

[2018-03-25 13:56] emruz-hossain opened #396 "Pod restart after each backup when Mutating Webhook enabled"
Pod restart after each backup when Mutating Webhook is enabled.
**Stash Version:** 0.7.0-rc.2
**kubectl version:** v1.9.0
**How to recreate ?**
1. Install stash with --enable-mutating-webhook
2. Create Restic.
3. Create a deployment that has label that match Restic selector.

Now, after each backup the pod will restart.

**Reason:**
Reason is not clear yet. It seems every time there is an unexpect

[2018-03-25 14:05] tamalsaha commented on #395
We need to revendor kutil to fix this.

[2018-03-25 14:06] tamalsaha commented on #396
[code]
I think that is the problem

[2018-03-25 14:07] tamalsaha commented on #396
[code]

[2018-03-25 14:07] tamalsaha commented on #396
This changes after every backup. So, causes restarts.

[2018-03-25 14:31] #395 closed

[2018-03-25 15:29] galexrt commented on #388
Even though it is a pretty "dirty" hack, you can do something like that:
[code]

[2018-03-27 13:32] pierreozoux commented on #388
Thanks @galexrt for your kind answer, maybe my question was not really clear.
More than the implementation (there is also this [PR opened for mysql](https://github.com/kubernetes/charts/pull/4069) )
I'm more interested in a systematic solution. How do we dump database data before backup?

This is related to this question, [how do we do automatic backup](https://github.com/kubernetes/charts/issues/

[2018-03-28 06:55] hossainemruz opened #402 "Add test to detect unwanted pod restart"
If pod restart unexpectedly due to bug like #396, current test cant detect it. Currently, it must be checked manually. We should add reliable test to detect this automatically.

[2018-03-29 11:03] emruz-hossain commented on #392
@dzolotov Its not actually a bug. You have a little misunderstanding here. Let me explain.
Let you  /var/lib/grafana has some data a.txt, b.txt etc.
Lets see directory structure:
[code]
Now, as you are backing up  /var/lib/grafana directory restic will backup  this part
[code]
So, when you are recovering the backed up data in this directory
[code]
the backed up data recovered inside graphana direc

[2018-03-29 12:56] xanonid opened #403 "hack/deploy/stash.sh: $? check does not work with set -e"
https://github.com/appscode/stash/blob/248bba9405c1c226b27b3617eaba38232cf9815f/hack/deploy/stash.sh#L2
https://github.com/appscode/stash/blob/248bba9405c1c226b27b3617eaba38232cf9815f/hack/deploy/stash.sh#L60

[2018-03-29 18:19] tamalsaha commented on #403
Fixed https://github.com/appscode/stash/pull/404

[2018-03-29 18:19] #403 closed

[2018-03-31 20:40] #392 closed

[2018-03-31 20:40] #396 closed

[2018-04-01 11:17] tamalsaha opened #408 "Add rclone backend"
https://restic.net/blog/2018-04-01/rclone-backend

[2018-04-04 03:23] tamalsaha opened #414 "Docs TODO"
- [x] Repository missing in concepts page https://appscode.com/products/stash/0.7.0-rc.3/concepts/
- [x] Add example for RecoveredVolume other than `HostPath` .

[2018-04-04 03:50] tamalsaha opened #416 "Support Repository deletion"
- [x] Register finalizer for `Repository`
- [x] Delete from bucket if wipeOut: true and Repository is deleted.

[2018-04-04 03:52] tamalsaha commented on #416
cc: @the-redback

[2018-04-05 09:46] tamalsaha opened #418 "Cache recent snapshot list"
This solves the problem of Local backend

[2018-04-10 22:56] #319 closed

[2018-04-11 03:38] tamalsaha commented on #324
Use `--no-lock` flag for `snapshots list` command

[2018-04-17 15:37] tamalsaha opened #439 "Use one repository per workload"
@galexrt brought up this issue on Slack. Here are some questions answered by @fd0 .

https://forum.restic.net/t/what-are-the-implications-of-storing-data-from-different-hosts-in-one-repository/589

This is a tracker issue. We need to think through the process and come up with a plan.

[2018-04-19 16:40] pabSec opened #443 "Restic sidecar not properly working because of image tag error"
After installing using helm and applying a restic.yaml, the pod restart tih its sidecar as expected but fails as shown below:

[code]

And describe deployment give the following error:
`Failed to apply default image tag "/stash:0.7.0-rc.1": couldn't parse image reference "/stash:0.7.0-rc.1": invalid reference format
`

[2018-04-20 02:47] tamalsaha opened #444 "Fix docs for StatefulSet"
https://github.com/appscode/stash/blob/master/docs/guides/workloads.md

[2018-04-20 02:51] tamalsaha commented on #443
@pabSec , I think you have hit the bug fixed https://github.com/appscode/stash/pull/410 . We have to push a new release to fix this. In the meantime, can you try the chart in this repo?

[2018-04-21 14:48] #215 closed

[2018-04-21 16:32] #416 closed

[2018-04-21 17:04] #444 closed

[2018-04-21 17:26] #414 closed

[2018-04-23 07:31] pabSec commented on #443
Still fails with appscode/stash Chart

[2018-04-23 11:01] tamalsaha commented on #443
I just tried the chart from this repo. It seems to be working for me.

[code]

[2018-04-24 17:55] tamalsaha commented on #443
@pabSec, did it work?

[2018-04-25 06:42] pabSec commented on #443
It did @tamalsaha, thanks

[2018-04-25 10:37] #443 closed

[2018-05-02 11:21] arjunsbabu opened #461 "Backup not triggered"
Hi Team,
The kubernetes environment is based on IBM cloud private 2.1.0.2
k8 version 1.9.1
The installation of stash is done using the command
 curl -fsSL https://raw.githubusercontent.com/appscode/stash/0.7.0-rc.3/hack/deploy/stash.sh | bash -s -- --enable-validating-webhook=false --enable-mutating-webhook=false

For backing up the volume i followed the link https://appscode.com/products/stash/0.

[2018-05-02 14:12] tamalsaha commented on #461
TODO:
- [ ] --enable-rbac flag is passed to sidecar.
- [ ] "ie if iam using apiVersion: apps/v1  the sidecar is not attaching to the pod. but apiVersion: extensions/v1beta1 will works...Why is this ?"

[2018-05-02 14:14] tamalsaha commented on #388
@pierreozoux , for database backups we recommend using something like https://kubedb.com . Database backups usually require using db level tools for safe backup and restore.

[2018-05-03 10:29] tamalsaha opened #462 "Support PSP or SCC (openshift) enabled clusters"
Use has cluster with PSP installed. Update Stash installer to support this.

Example PSP:
https://gist.github.com/tamalsaha/6599aa7d4603db056a2e22935e8ad37a

[code]

[2018-05-03 11:26] arjunsbabu commented on #462
Hi Team
Another update. I have tried the recovery as per the link https://appscode.com/products/stash/0.7.0-rc.3/guides/restore/
In this case the recovery status phase have succeeded but the recovery havent happen

[2018-05-04 17:21] tamalsaha opened #467 "Update minio doc for 1.10?"
https://github.com/appscode/stash/blob/master/docs/guides/minio_server.md

@emruz-hossain ?

[2018-05-05 19:42] farcaller opened #470 "Stash stores GCS credentials in /tmp with 644 permissions"
[code]

This is, generally, not the best idea. Sure, if someone gets a shell on the kubelet machine it's bad already, but no need to make it worse.

[2018-05-05 21:45] #470 closed

[2018-05-05 23:52] #467 closed

[2018-05-06 11:36] farcaller opened #475 "Stash restore pod fails with istio sidecar"
Given a namespace that has istio injector enabled, stash restore pod fails with:

[code]

One theory I have is that there's a race condition with istio sidecar and stash is just too fast. Istio's envoy doesn't have time to spin up and start serving outbound connections and everything fails.

One option to fix this would be to retry the connection to apiserver?

[2018-05-06 19:41] tamalsaha commented on #462
@arjunsbabu , I am having trouble creating a PSP enabled cluster using kubeadm https://github.com/kubernetes/kubeadm/issues/791 . I need to be able to create a cluster first before I can fix this issue.

[2018-05-06 20:12] farcaller commented on #475
Might be related to https://github.com/istio/istio/issues/1685

[2018-05-07 09:10] farcaller commented on #475
No; not related to that bug after all. Running istio 0.7.1 here and I tried a dedicated pod with stash's serviceaccount and curl works there.

[2018-05-07 14:56] farcaller commented on #475
It looks like a race indeed:

[code]

all while

[code]

[2018-05-07 19:31] tamalsaha commented on #475
I think that makes sense. All the cli can have a wait until connect timeout field. The timeout can be zero for non-Istio setups. Can be set to > 0 for istio env. This flag can be added to root command https://github.com/appscode/stash/blob/master/pkg/cmds/root.go#L52 and implemented in the PersistentPreRun method.

Do you want to try that?

[2018-05-10 05:35] tamalsaha opened #477 "Test online to offline backup mode"
... and vice versa

- [ ] Add e2e tests

[2018-05-11 02:52] zhwenh opened #478 "Using Stash with TLS secured Minio Server Can't succeed"
Using Stash with TLS secured Minio Server
Refer to this document settings
https://appscode.com/products/stash/0.7.0-rc.3/guides/minio_server/

show errors：

Found repository secret s3-secret
--
  | E0511 02:47:43.324419       1 restic.go:186] Error running command '/bin/restic [snapshots --json --cache-dir /tmp/restic-cache]' output:
  | [golang-sh]$ /bin/restic snapshots --json --cache-dir /tmp/r

[2018-05-12 18:46] eliasp commented on #461
Looks like I'm seeing the same problem here:
- K8S v1.10.2
- Stash 0.7.0-rc.3

I've doublechecked the secrets - they look good but I suspect they can't be retrieved due to the `Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.` effects.

[code]

[2018-05-16 21:33] #475 closed

[2018-05-21 10:47] qwertys-ru opened #485 "Incorrect image name for sidecar container"
Using stash helm chart from [appscode stable repo](https://charts.appscode.com/stable/).

After creating sidecar container from yaml (provided below) with `kubectl apply -f`, sidecar container has incorrect image name '/stash:0.7.0-rc.3' instead of 'appscode/stash:0.7.0-rc.3'. This yelds in ImgPullErr pod state.

Restic manifest:

[code]

Resulting deployment yaml:

[code]

[2018-05-22 23:51] tamalsaha commented on #485
Please try the new release 0.7.0-rc.4 https://appscode.com/products/stash/0.7.0-rc.4/setup/install/#using-helm . Chart issues should be fixed.

[2018-05-24 16:06] nielsole opened #499 "Resource type "snapshot" not registered"
Hi,

I setup stash with helm
[code]
and followed the guide at https://appscode.com/products/stash/0.7.0-rc.5/guides/backup/ . When I run

[code]

Any idea, why snapshots is not a registered resource?

Logs look clean, attaching them for brevity.
[code]
[code]

[2018-05-24 17:31] emruz-hossain commented on #499
@nielsole Stash provides `snapshots` listing facility with the help of **aggregated api server**. Stash start **aggregated api server** if any of the `ValidatingWebhook ` and `MutatingWebhook` is enabled.

You have installed Stash using this command,
[code]
This is for **Kubernetes 1.8.x** and does not enable webhooks.

Please notice that there is installation process for **Kubernetes 1.9.0 or lat

[2018-05-25 05:21] tamalsaha opened #500 "Add cli to unlock repository."
`restic unlock -r <repo>`

[2018-05-25 13:25] #499 closed, assigned to nobody

[2018-05-26 12:37] nielsole opened #501 "Admission webhook denied rquest: Sidecar not found"
I started playing around with the guide and somehow after a bit back and forth got into a situation where I cannot delete the deployment "stash-demo"

[code]

Somehow the operator didn't notice that the "Restic" object was gone and did not remove the sidecar?!

Recreating the restic object allowed me to delete the deployment, but this should probably be handled gracefully in the first place?

[2018-05-28 03:49] emruz-hossain commented on #501
@nielsole sorry for late replay. We were on the weekend.
 We are unable to recreate the situation. Can you recreate it? If you can, please let us know the steps.

Keep playing with **Stash** and let us know if you hit another anomaly.

[2018-05-28 10:11] pierreozoux commented on #126
@tamalsaha hey, I'd be interested in that, especially the append-only feature ;)

I'm not a go expert, but if you give me some guidance, I can try to make a PR.

Thanks for your help!

[2018-05-28 21:04] nielsole commented on #501
sorry, not momentarily. As I said I do not remember what steps I previously did, that lead to the situation. :/

[2018-05-29 01:17] tamalsaha commented on #126
@galexrt  started working on it https://github.com/appscode/stash/pull/434 . This will require some underlying changes in stash which are captured in #439 . This a non-trivial change given everything is done currently. So, we need to come up with sort of high level plan and design.

[2018-05-29 12:58] valo opened #503 "Could not list snapshots on kubernetes 1.8.4"
I installed Stash on kubernetes 1.8.4 using the helm chart with the default configuration coming from `values.yaml`. I only disabled `RBAC` as we don't use it. Configured a backup to S3 and it all works well:

[code]

I can get the repository:
[code]

But I can't list the snapshots:

[code]

Am I missing something with the installation? Looked through the install instructions and can't figure out

[2018-05-29 13:02] valo commented on #503
Thanks for the quick reply. We will upgrade the cluster and try again.

[2018-05-29 13:02] #503 closed

[2018-06-01 15:43] tamalsaha opened #505 "GKE page missing front matter"
https://github.com/appscode/stash/blob/master/docs/guides/gke.md

https://appscode.com/products/stash/0.7.0/guides/gke/

[2018-06-04 08:50] Miouge1 commented on #388
@pierreozoux I don't think that 2 volumes are needed. You can use `spec.fileGroups` to filter only the backup folder on your DB volume.

Also this can be solved with #351

[2018-06-09 05:02] Miouge1 commented on #388
As a feature proposal Stash could pick-up annotations like:
[code]
That could trigger the `mysqldump` command (or whatever script you want) and backup the output (stdout) of that.
On the restore side, it would the the `mysql` command and pass the backup file as a `stdin`.

[2018-06-10 13:51] pierreozoux commented on #388
@Miouge1 actually, `appscode` also has `kubedb` project that does dumps and restore automatically.

It is just about integrating kubedb dump and stash features.
I don't know yet what should be done, but for sure, there is a better way than now. Come to the slack channel of kubedb if you have some idea on how we could improve the process!

[2018-06-10 15:38] Miouge1 commented on #388
I plan to backup PVCs used for OpenLDAP, cockroachdb, redis, and mysql. AFAIK KubeDB covers only MySQL/Postgres/Redis. So a generic command thing would be really helpful.

[2018-06-17 15:59] konfiot opened #510 "Internal error occurred: failed calling admission webhook "deployment.admission.stash.appscode.com": the server could not find the requested resource"
Hello,
I tried to install stash, but now I get an error : ```Internal error occurred: failed calling admission webhook "deployment.admission.stash.appscode.com": the server could not find the requested resource``` everytime I try to do anything (I can't even delete the replicasets and deployments...
Do you have any idea what's happening ?
Thanks a lot for all the work !

[2018-06-17 22:13] tamalsaha commented on #510
Hi,
- What is your `kubectl version?`
- How did you provision your cluster?
- Can you download `onessl` from https://github.com/kubepack/onessl/releases/tag/0.5.0 and run the `onessl doctor --v=10` command?

[2018-06-18 19:46] konfiot commented on #510
Hello,
I've got kubectl v1.10.4 (client is v1.10.4 and server is v1.10.2) :
[code]
- Cluster has been provisionned with kubeadm on bare metal
[code]

I've managed to nuke the deployment with the uninstall script finally, trying to reinstall it

[2018-06-18 19:49] konfiot commented on #510
Also, when I try to reinstall it (using helm chart) it installs in the default namespace, not in kube-system

[2018-06-19 00:35] tamalsaha commented on #510
Also, you can join our slack https://slack.appscode.com/ and ask me @tamal . We can take a look at the issue. This seems like some sort of setup issue.

[2018-06-20 09:34] konfiot commented on #510
I have helm 2.9.1
Okay, I will join !

[2018-06-22 09:48] tamalsaha opened #514 "Clarify that hostpaths are just example"
I think users are confused that we show host paths for backup / recovery. We should clarify that and PV / PVC can be used.

[2018-06-22 10:08] tamalsaha opened #515 "Support node selector for recovery job"
User wants to recover to host path. Node selector is needed to recover on a given host.

From Slack: https://appscode.slack.com/archives/C0XQFLGRM/p1529660310000076

[2018-06-22 12:30] tamalsaha commented on #478
Closing, since no response. Please reopen if you have more to share.

[2018-06-22 12:30] #478 closed

[2018-06-22 12:33] tamalsaha opened #520 "Upgrade to restic 0.9.x"

[2018-06-22 12:49] arnadusable opened #521 "matchLabels on Restic CRD not working when using hyphens in keys"
Tested on appscode/stash:0.7.0

When using hyphens in keys of the matchLabels features to select which pods to target with sidecars containers, nothing happens (no sidecars are created).

I tested it with the redis-ha helm chart to target redis slave servers.

Below is a full example, pay attention to the keys "redis-node" and "redis-role".

[code]

When removing problematic keys (in this exemple:

[2018-06-22 23:36] #515 closed

[2018-06-25 08:40] manishg4 commented on #146
Just like FlexVolume allows a vendor neutral way of mounting a Storage entity which is provisioned on *ANY* chassis; is there a generic way/ method in K8s to create snapshots / clones run time on third party storage chassis?

I see there is a built in support in K8s for Snapshots; however, this seems integrated only with the Google Cloud services.

Is there a generic method for integrating the K8s

[2018-07-05 23:19] carlosedp opened #525 "[Request] Add backup details to "kubectl get" for stash objects on K8s 1.11"
Now on Kubernetes 1.11, it's possible to specify additional columns on `kubectl get` commands as stated [here](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#sig-api-machinery):

Would be great to have the details on last backup, etc on the "get" command.

More details on https://github.com/kubernetes/kubernetes/pull/60991.

[2018-07-06 02:13] tamalsaha commented on #525
Yes. My plan is we are going to cut another release for Stash that will push the fixes for 1.11 (eg status endpoint). After that we upgrade to client-go 1.8, drop support for k 1.8, use these new features, support arm build officially and psp enabled cluster.

[2018-07-23 08:58] mschindhelm opened #534 "Offline backup not working (permissions)"
Online backups are working for us but if I define offline backups the init container crashes with the following log output:

`E0723 08:15:34.625349       1 reflector.go:205] github.com/appscode/stash/client/informers/externalversions/factory.go:74: Failed to list *v1alpha1.Restic: restics.stash.appscode.com is forbidden: User "system:serviceaccount:inf:default" cannot list restics.stash.appscode.c

[2018-07-23 09:06] hossainemruz commented on #534
@mschindhelm what version of stash are you using?
How did you install stash? Via helm or script?
It seems some RBAC permission are missing.

[2018-07-23 09:10] mschindhelm commented on #534
@hossainemruz : Version is:
`# kubectl exec -it $POD_NAME -c operator -n $POD_NAMESPACE stash version
I0723 09:09:29.665209      61 logs.go:19] FLAG: --alsologtostderr="false"
I0723 09:09:29.665567      61 logs.go:19] FLAG: --enable-analytics="true"
I0723 09:09:29.665582      61 logs.go:19] FLAG: --help="false"
I0723 09:09:29.665595      61 logs.go:19] FLAG: --log_backtrace_at=":0"
I0723 09:09:29.

[2018-07-23 09:36] hossainemruz commented on #534
@mschindhelm can you share workload yaml(Deployment/Statefulset) and Restic yaml ?

[2018-07-23 09:43] mschindhelm commented on #534
@hossainemruz sure:
workload:
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
  labels:
    app: inventory
  name: inventory
  namespace: inf
  selfLink: /apis/extensions/v1beta1/namespaces/inf/deployments/inventory
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: inventory
  strategy:
    type: Recreate

[2018-07-23 09:53] hossainemruz commented on #534
One more question, the log you have provided is it from stash operator or stash init container?

[2018-07-23 09:54] mschindhelm commented on #534
Its from the init container.

[2018-07-23 13:27] hossainemruz opened #535 "Unexpected behavior in offline backup"
**Expected behavior:**
`ScaledownCronJob` should first scaledown workload to 0 replica. When all pods are terminated, it should scale up workload to 1 replica.

**Observed behavior:**
`ScaledownCronJob` scale down workload to 0 replica but does not scale up to 1 replica.

**Reason:**
While scale up to 1 replica, previous workload list (`dpList`) is used which does not have updated replica number a

[2018-07-23 13:50] hossainemruz commented on #534
@mschindhelm thank you for reporting. We could not recreate this RBAC issue. If you can recreate it, please let us know the steps.

However, while debugging this issue we have found another major issue https://github.com/appscode/stash/issues/535 with offline backup. We are actively working to fix this. This fix will be available in the next release.

In the meantime, please make sure that the `Re

[2018-07-24 07:45] mschindhelm commented on #534
I currently unsuccessful in recreating the issue. Maybe it only was a temporary issue.
On recreation of the deployment and the restic ressource, the init container finishes with the following result:
[code]
why does the stash init container think that the replica count is bigger than one ?

[2018-07-24 08:52] hossainemruz commented on #534
Oops!!!. This log line actually misleading.
Stash offline backup works in following steps.
1. Stash operator inject init container to all workload replicas.
2. A `CronJob` run at scheduled time.
3. The `CronJob` scale down the workload to 0 replica and store original replica count in workload annotation.
4. Then it scale up the workload to 1 replica.
5. This replica pod start with init container.

[2018-07-25 16:06] GNewbury1 opened #538 "Bad flag syntax when helm installing stash"
When using the following command:
[code]
The following error is thrown:
[code]
It looks as though this might have come about with the `$(onessl get kube-ca)` command, as the command spits out
[code]

Could the `-----END`  as part of `onessl get kube-ca` be the problem here? Any help on this would be appreciated!

### Binary versions
`onessl`: 0.7.0
`helm`: 2.9.1 (client and server)
`kubectl`: Clie

[2018-07-25 16:18] GNewbury1 commented on #538
## Temporary workaround
Run `helm install --namespace kube-system appscode/stash --version 0.7.0 -f values.yaml -n stash-operator` with the following values.yaml:
[code]

[2018-07-25 19:22] tamalsaha commented on #538
I tried the same steps. I am not seeing this issue.

[code]

[2018-07-26 09:30] GNewbury1 commented on #538
How did you install `helm`? I've just got this working, and I'm unsure whether it's related, but when using `sudo snap install helm` to install `helm`, I'd get the error described in OP. However, when taking the binary provided [in their official repository here](https://github.com/helm/helm/releases/tag/v2.9.1), it worked. Unsure whether it's coincidence or not, or if anyone else wants to test it

[2018-07-26 09:31] tamalsaha commented on #538
I also do that. Just download the binary and copy to `/usr/local/bin/helm` .

[2018-07-26 10:51] GNewbury1 commented on #538
Would it be worth testing your end removing `helm` from `/usr/local/bin`, and installing it with `snap install helm`? We'd then be able to know if it's something up with the `snap` install, or something else

[2018-07-30 03:41] hossainemruz opened #539 "Repository overwrite for different workload with same name in different namespace"
**Problem:**
If we have two different workload with same name in different namespace and they use same bucket to store backup snapshot then repository in the bucket overwrite each other.
**Reason:**
Namespace is not used in `HostNamePrefix`.
https://github.com/appscode/stash/blob/cee03417cf5f8becf78a6baef64e4e94829e89f2/apis/stash/v1alpha1/workload.go#L65

[2018-07-31 10:13] tamalsaha opened #540 "Add detailed example doc for AWS and Azure"
Similar to https://github.com/appscode/stash/blob/master/docs/guides/gke.md#recover-to-gce-persistent-disk

[2018-08-03 14:47] nucleusv opened #545 "FR: Add possibility to change settings of Restic"
Hello,

would be great to have possibility to change settings of Restic like this:

The number of concurrent connections to the Azure Blob Storage service can be set with the -o azure.connections=10. By default, at most five parallel connections are established.
https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html#microsoft-azure-blob-storage

[2018-08-04 04:04] tamalsaha commented on #545
I agree. We should do this.

[2018-08-06 12:28] vvangestel commented on #538
We had the issue with both the downloaded binary and the snap version of helm

[2018-08-06 13:32] GNewbury1 commented on #538
So that would allude that it's either a problem with helm in general (ie, not in the scope of the snap helm project, but the helm project itself), or Stash.

@tamalsaha any updates?

[2018-08-08 08:34] bartelsielski opened #547 "Minio backup fails: 'net/http: invalid header field value "..." for key Authorization'"
Backing up data to Minio does not seem to work (see error below). This is the same error as in issue #478.

[code]

We tried using stash `0.7.0` installed via helm using the following configuration:
[code]
Running the restic commands manually from the stash container works without any problems.

We also tried to use version `0.7.0-13-g97e97d1f` because this contained the #508 merge request but to

[2018-08-08 10:06] hossainemruz commented on #547
@bartelsielski as long as I can remember, I have seen this error once because of extra newline('\n') in the secret. Please make sure there is no newline at the end of  `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.

Can you please try creating secret this way?
[code]

[2018-08-09 06:35] hossainemruz opened #549 "Delete snapshot command does not check for snapshot's existence"
**Observed behaviour:**
When we delete a Snapshot with `kubectl delete <snapshot-name>` command, it show delete successful even if the snapshot does not exist.

For example
[code]
In the first command we delete a snapshot and it success. In second command we try to delete the snapshot again. This time it also success even if the snasphot does not exist.

**Expected behaviour:**
API server should t

[2018-08-09 08:03] #535 closed

[2018-08-09 08:54] hossainemruz commented on #534
Offline backup issue is fixed in #537
Feel free to reopen if you face this problem again.

[2018-08-09 08:54] #534 closed

[2018-08-09 08:59] hossainemruz commented on #539
Use different`spec.backend.<backend-type>.prefix` in `Restic` spec for the workloads to overcome this problem. This actually help to move your workload to a different namespace without changing the repository.

[2018-08-09 08:59] #539 closed

[2018-08-09 13:48] pierreozoux commented on #161
Hello @tamalsaha we just made a snapshot/recovery run in OpenShift, using replication-controller.
Of course, the issue is that then we have a new RC for each version. And we are interested in having this issue resolved as well :)

But I wanted to say, that the project is already usable in OpenShift, and we are really happy! Thanks!

[2018-08-15 16:13] #549 closed

[2018-08-15 17:32] tamalsaha commented on #538
I don't think this is a problem with Stash project. If that was the case, it will happen when helm cli was installed from downloaded binary.

It might be worth asking in Helm's slack or filing a bug in their repo to see if anyone is having this issue. I am not familiar with `snap` to guess it could be the source of the issue.

@vvangestel , what exact error you are seeing? What is your OS distro a

[2018-08-15 17:33] tamalsaha commented on #161
Thanks @pierreozoux . We are looking to support DeploymentConfig. Did you face any issue related to SCC in OpenShift?

[2018-08-15 17:52] GNewbury1 commented on #538
If you look at the comment above my previous one, you get

[2018-08-15 18:06] #374 closed

[2018-08-15 18:06] #514 closed

[2018-08-16 04:34] tamalsaha commented on #510
Closing, since to recent activity. If you are still experiencing this, reopen.

[2018-08-16 04:34] #510 closed

[2018-08-16 04:51] #485 closed

[2018-08-16 04:52] tamalsaha commented on #485
Fixed.

[2018-08-16 04:53] tamalsaha commented on #461
RBAC issue was resolved.
PSP issue is tracked here: https://github.com/appscode/stash/issues/462

[2018-08-16 04:53] #461 closed

[2018-08-16 04:54] tamalsaha commented on #388
xref: https://github.com/kubedb/project/issues/168

[2018-08-16 14:35] pierreozoux commented on #161
@tamalsaha no, no issue so far.

[2018-08-20 01:29] mitchellmaler opened #556 "Deployed latest helm chart and getting error during sidecar creation"
I have deployed Stash using Helm and verified it deployed. I then created a Restic CRD to backup PVCs and the sidecars started deploying then they are erroring.

[code]

Sidecar
[code]

Helm Install
[code]

Azure Backup Restic File
[code]

The secrete has all three
RESTIC_PASSWORD
AZURE_ACCOUNT_NAME
AZURE_ACCOUNT_KEY

When I describe the restic crd it has these error
[code]

[2018-08-20 05:35] tamalsaha commented on #556
What is your `kubectl version` ?

Also, can you tell us a bit about your setup? Are you backing up Minio server etc? It seems like something is not correct in the CRD.

[code]

[2018-08-20 11:29] arjunsbabu opened #557 "Cannot create deployment. Stash admission policy is preventing"
HI Team ,
 We have just installed stash on an Ibm cloud private 2.1.0.3 EE kubernetes cluster. This is an HA env. We have installed using  the script in the appscode documentation directly.
But after it when im trying to create a deployment it not allowing me to do so. Please have a look at it

`root@gyfradgicpdevm01:~/workspace/stash# cat newdepploy.yaml
apiVersion: apps/v1
kind: Deployment
metad

[2018-08-20 11:34] arjunsbabu opened #558 "cannot scale deployment. Stash admission policy preventing"
![stash issue](https://user-images.githubusercontent.com/29661675/44338255-05dc2600-a49b-11e8-9a8f-5cf270845ce8.JPG)
When customer is trying to scale deployment stash admission policy is preventing

[2018-08-20 13:44] tamalsaha commented on #367
From @arjunsbabu via slack,

for default restic there are some issues  i guess:

1. Deployments have different mount points for PV.So a single restic deployment cannot use for all workloads
2. all deployments dont need backup..If custiemr ask for backup then only we need to implement it

[2018-08-20 13:45] tamalsaha commented on #367
One option will be to create `RsticTemplate` that can be filled in via annotations from the Deployment.

[2018-08-20 14:29] mitchellmaler commented on #556
@tamalsaha @hossainemruz Yes I have Minio distributed deployed as a stateful set with the volume data mounted at /data. I am trying to back that up to Azure blob storage.

Kubernetes Version:
[code]

Yea I am trying to figure out what is the issue in the CRD. The error message just says 'Error running command' but nothing pointing to what was the error or bad config.

[2018-08-20 14:43] tamalsaha commented on #556
It is trying to run the following commands:

[code]

Credentials are passed using ENV variable like here: https://github.com/appscode/stash/blob/master/pkg/cli/env.go#L109

[2018-08-20 14:50] mitchellmaler commented on #556
@tamalsaha Yea I have the secret referenced and three variable set.

[code]

Can it give more logging about why those commands failed? Like is it missing a config variable or is one malformed/incorrect. With it just saying failed doesn't give me much to troubleshoot. I copied the example azure restic crd from the documentation for this so I didn't do much customization except for the volume locati

[2018-08-20 14:55] tamalsaha commented on #556
There is no way to get any more logs here. But you can exec into the sidecar and run these commands yourself.

[code]

[2018-08-20 15:36] mitchellmaler commented on #556
@tamalsaha I can't exec into the container because it fails to startup.

[2018-08-20 15:37] mitchellmaler commented on #556
I just checked the logs again and now I am getting a different message.
[code]

That is a better error message :)

[2018-08-20 15:38] tamalsaha commented on #556
You can just download the restic cli from their project https://github.com/restic/restic/releases/tag/v0.8.3 . Then run these commands from yur workstation.

One common mistake is that the credentials in secrets have trailing `\n`. Please double check that you don't have that.

[2018-08-20 15:42] mitchellmaler commented on #556
@tamalsaha That was my issue, dang it! Not the first time I have had this issue lol
Thanks!

[2018-08-20 15:42] #556 closed

[2018-08-20 16:03] tamalsaha commented on #557
I think you are facing https://github.com/kubernetes/kubernetes/pull/62649 issue. It was fixed in 1.10.2

- https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md#changelog-since-v1101
`Fixes the kubernetes.default.svc loopback service resolution to use a loopback configuration. (#62649, @liggitt)`

[2018-08-20 17:23] mitchellmaler opened #559 "AdHoc/One-Time Backup"
Hello,

Is there a way to create a one-time backup that is outside of the schedule. I have recurring backups but also want a way to have a backup run on demand.

Thanks

[2018-08-21 18:10] mitchellmaler opened #560 "ApiServer Error: x509: certificate signed by unknown authority "svc-cat-ca""
Deployed Stash with Helm and it seemed to work. I am seeing a lot of errors on the api server that I have provided below. The ca cert issuer in the api server is kube-ca so not sure why it has a cert for svc-cat-ca.

[code]

When I deployed with helm I provided the ca string that is running the api server.
[code]

[2018-08-29 11:53] JJSWAIN2018 commented on #559
same things required here

[2018-08-31 17:18] tamalsaha opened #566 "Handle security context"
- https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

Scenario:
Deployment running Grafana (Helm chart) uses security context `user: 472`. This means  `stash` sidecar can't take backups. We need to set `SecurityContext` for stash sidecar.

[2018-09-03 13:37] arjunsbabu commented on #557
@tamalsaha got it..But just to let you know that we havent faced the issue in creating the deployment in another similar env. Not sure why there the k8 bug never applies.

[2018-09-03 13:41] arjunsbabu commented on #367
@tamalsaha id possible can you give an example template

[2018-09-03 22:30] pojntfx commented on #510
In case someone is still running into this, run the following:

[code]

According to @tamalsaha, the problem appears to be the following:

[2018-09-04 02:52] tamalsaha commented on #510
@pojntfx , fyi, I have pushed an update to chart https://github.com/appscode/stash/pull/569 which will cleanup the webhook on delete in future.

[2018-09-04 14:29] #566 closed

[2018-09-04 14:41] tamalsaha commented on #367
https://appscode.slack.com/archives/DAFPBQP6Z/p1536068077000100

[2018-09-04 15:16] tamalsaha opened #571 "Write Event for deployments that has multiple matching restics"
https://github.com/appscode/stash/blob/master/pkg/controller/deployment.go#L109

[2018-09-06 08:10] steven166 opened #575 "Security concerns for production grade clusters"
Hello,

First of all Stash is an awesome tool, which makes backups easy in the Kubernetes world!
But the default setup of Stash requires a lot of clusterwide privileges.

Is it possible (and is there a guide) to setup stash with minimal privileges as possible?

For example:
- Pods/cronjobs should match the restricted PodSecurityPolicy: https://raw.githubusercontent.com/kubernetes/website/master/co

[2018-09-07 23:13] tamalsaha commented on #575
Yes. Already possible.

Yes. Just don't use the operator. Here is an example for StatefulSet. https://github.com/appscode/stash/blob/master/docs/guides/workloads.md#statefulsets
But I think the ux will be very painful.

This is something you can't do today. We want to support this. #462

[2018-09-08 12:43] steven166 commented on #575
Thanks for your quick reply.
So the stash sidecar does not require the stash operator to perform backups, right?
But the operator can still be useful for metrics and viewing snapshots.

I'm thinking of creating a custom Helm template to simplefy the ux for adding a stash sidecar. So the user should enter only values like in Restic resource.

Do you have also an example of creating a Recovery pod m

[2018-09-08 13:52] tamalsaha commented on #575
So the stash sidecar does not require the stash operator to perform backups, right?
But the operator can still be useful for metrics and viewing snapshots.

You don't need sidecar for metrics. You just need a Prometheus PushGateway. For viewing snapshots, you could just use the `restic` binary.

Sounds cool. If you want to contribute back to the project, we are happy to host in this repo.

No, But

[2018-09-08 16:14] steven166 commented on #575
Ow, nice!

I'm happy to contribute to this project. Maybe after the v1 release, we can do a feature request to the official Helm Charts repo and make Stash an opt-in backup solution.

Oke simple.
The "backup" and "recover" operations in the stash container requires the "Repository" CDR, right?

[2018-09-08 16:28] tamalsaha commented on #575
Which official Helm charts are you talking about?

Yes. We read the spec of the crd.

[2018-09-08 16:49] steven166 commented on #575
https://github.com/helm/charts/tree/master/stable
So for example when you create a MongoDB, you can opt-in Stash backups.

[2018-09-16 12:37] fdlk commented on #510
Running into this in stash 0.7 on minikube

[2018-09-18 02:12] xamox commented on #510
Thanks, this worked for me as well.

[2018-09-18 07:13] arjunsbabu opened #579 "Stash does not provide any validation for Restic's selector"
Hi Team,

I have multiple deployment which use the same PV , same mount point and same volume name. I have labelled one of the deployment and created a Restic to take backup.

But the stash sidecar is getting added to all the deployments regardless it has the label that match Restic's selector. Later with the help of @hossainemruz we identified that the issue is a typo in the Restic's selector.
[c

[2018-09-19 11:09] arjunsbabu opened #580 "Stash taking complete PV backup instead of just taking the subpath"
Hi Team,

 I have created two deployments with same PV but two different subpath.

Deployment 1 yaml

`apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deploy-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: arjun
  template:
    metadata:
      labels:
        app: arjun
    spec:
      containers:
      - name: nginx-container
        image: nginx
        ports:

[2018-09-19 11:15] hossainemruz commented on #580
@arjunsbabu can you please paste the yaml in following format so they don't lose indentation? It hard to read without indentation.

\```
\<your yaml here\>
\```

[2018-09-19 11:16] arjunsbabu commented on #580
root@gyfradgicpdevm01:/stash/arjun/deployment/nginxdeploy# restic -r /stash/pvtest/deployment/nginx-deploy-1/ snapshots
repository 45f26e78 opened successfully, password is correct
ID        Date                 Host            Tags        Directory
----------------------------------------------------------------------
ebe9c965  2018-09-19 11:10:13  nginx-deploy-1              /usr/share/nginx/htm

[2018-09-19 11:19] arjunsbabu commented on #580
[code]

[2018-09-19 11:19] arjunsbabu commented on #580
[code]

[2018-09-19 11:28] arjunsbabu commented on #580
Im manually  restoring and checking one of the snapshots to check its content

![image](https://user-images.githubusercontent.com/29661675/45750557-1bc14000-bc2d-11e8-96c1-d1b5e4d82ff4.png)

While checking I can see that the restored data contain the backup of both the deployments which is not desired

[2018-09-21 02:32] tamalsaha opened #582 "Add Prometheus config sample for pushgateway"

[2018-09-24 08:10] sebastien-prudhomme opened #583 "Hardcoded cleaner kubectl image in Helm chart"
Hardcoded cleaner kubectl image in Helm chart prevents using an internal image registry

I suggest adding this in values.yaml:

[code]

and using these values in the cleaner job yaml file.

[2018-09-24 13:48] sebastien-prudhomme commented on #560
Same problem for me. The Helm chart is currently broken.

No need to setup the API server CA, but the API server need to know the CA used by Stash (the one that is generated by the Helm chart).

Will try to propose a fix.

[2018-09-24 14:14] arjunsbabu opened #585 "Stash grafana dashboard json file not showing metrics"
Hi Team,
I have just followed the link [https://appscode.com/products/stash/0.7.0-rc.3/guides/monitoring/](url)
 to configure monitoring for the stash backup.

I have edited my promitheus configmap and added the following job as follows

[code]

I can see the metrics is up in the promitheus
<img width="892" alt="promitheus scrap" src="https://user-images.githubusercontent.com/29661675/45956913-608

[2018-09-24 16:26] #583 closed

[2018-09-26 09:57] davidcodesido opened #587 "Issue while installing stash kubernetes 1.11.2"
I'm installing stash for the first time on kubernetes 1.11.5 via heml. I'm running the following command:

`helm install appscode/stash --version 0.7.0 --name stash-operator --set apiserver.enableValidatingWebhook=true --set apiserver.enableMutatingWebhook=true`

and I'm getting the following error:

`Error: render error in "stash/templates/validating-webhook.yaml": template: stash/templates/valid

[2018-09-26 09:58] tamalsaha commented on #587
What is your `helm version`? What is your `onessl version` ?

[2018-09-26 13:46] davidcodesido commented on #587
helm version
[code]

Not sure what onessl is or how to check the version. I'm relatively new to k8s.

[2018-09-26 13:58] tamalsaha commented on #587
You can find the onessl here: https://github.com/kubepack/onessl/releases

We use this to issue certs for kubernetes operator apps.

[2018-09-26 15:30] davidcodesido opened #588 "Problem creating backups"
After installing stash via helm I'm seeing the following errors in the operator:
`I0926 15:19:30.475101       1 wrap.go:42] GET /healthz: (132.798µs) 200 [[kube-probe/1.11] 195.201.143.44:56858]
I0926 15:19:30.483163       1 logs.go:19] http: TLS handshake error from XXXX:46992: remote error: tls: bad certificate
I0926 15:19:30.487838       1 logs.go:19] http: TLS handshake error from XXXX:46994:

[2018-09-26 16:27] davidcodesido commented on #588
Updated onessl to version 0.7.0. Seems to have fixed the TLS issues but it is not creating the repository although it creates the companion pod to the one I intend to backup.

[2018-09-26 16:40] davidcodesido commented on #588
It works the first time after a fresh install. If I delete the CRD and call create again it is back to the error:
kubectl create -f stash_backup.yml
Error from server (InternalError): error when creating "stash_backup.yml": Internal error occurred: failed calling admission webhook "restic.admission.stash.appscode.com": the server is currently unable to handle the request

And the operator logs are

[2018-09-26 16:47] davidcodesido commented on #588
As far as I can tell it messes up the whole kubernetes cluster since now all the creation of resources tries to go via this webhook and it is failing so I can't create any deployment any longer in the cluster.

[2018-09-28 06:52] davidcodesido commented on #588
I managed to solve myself the previous error. I think it was a mixture of namespaces.

[2018-09-28 06:52] #588 closed

[2018-09-28 06:54] davidcodesido opened #589 "Repositories not being created"
After installing stash via helm I see the following error in k8s apiserver.

[code]

Stash installed via:

helm upgrade stash-operator appscode/stash --install --namespace stash --set apiserver.ca="$(onessl get kube-ca)" --set apiserver.enableValidatingWebhook=true --set apiserver.enableMutatingWebhook=true --set rbac.create=true

 helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"

[2018-09-28 07:55] davidcodesido commented on #589
Thanks for your prompt answer. Do you have an estimated release date? Is there any beta channel for helm so I can test the version before the final release?

[2018-09-28 09:34] hossainemruz commented on #589
We don't have any eta for release. Our engineering team currently working on a different project. We will return to stash as soon as possible. We are looking for second or third week of October.

[2018-10-01 08:33] sebastien-prudhomme opened #592 "Permissions problem with the Helm chart in master branch"
Hi, the Helm chart in master branch is still using the 0.7.0 version of the Stash image.

The problem is that the Helm chart is using the new permission model introduced by the API changes #555 and 0.7.0 version in still using the old APIs:

[code]

Can you release a "latest" Stash image on Docker hub and use that image in the master branch?

[2018-10-03 05:47] arjunsbabu opened #595 "Backup failed metrics not coming"
Hi TEam,

I have created a deployment and created a restic to take a backup every minute . We have configured an alert  rule in alert manager to get us an alert if backup fails . To check the same we have triggered a backup fail by manually deleting the secret. The backup got stopped but the push gateway is not sending any metrics to Prometheus .

![prometheus query](https://user-images.githubuser

[2018-10-03 14:23] tamalsaha commented on #540
- https://appscode.slack.com/archives/C8NCX6N23/p1538575468000100

[2018-10-05 11:46] davidcodesido commented on #589
Kubernetes 1.12 is already out. Just in case you want to have a look at the VolumeSnapshots they include: https://kubernetes.io/docs/concepts/storage/volume-snapshots

[2018-10-08 10:40] sebastien-prudhomme opened #596 "Service name hardcoded in func PushgatewayURL, no metrics available"
Hi, as the service name is hardcoded as "stash-operator" in the PushgatewayURL function, metrics are not available when using an Helm chart with a release name other than "stash-operator".

[2018-10-14 12:38] riptidewave93 opened #599 "Unable to get snapshots on K8 v1.11.1"
Hello,

I am attempting to get appscode/stash going on DigitalOcean's k8s platform, and am hitting an issue where snapshots are not available. Specifically, I am seeing:

[code]

stash was installed using:
[code]

kubectl and k8s versions:
[code]

I have verified that API resources exist for Recovery, Repository, and Restic.

[code]

[2018-10-14 12:52] riptidewave93 commented on #599
As an addition, I am also unable to create restic objects when apiserver.enableValidatingWebhook and apiserver.enableMutatingWebhook are set to true. When they are, attempts to define a backup result in the following:

[code]

[2018-10-14 13:05] hossainemruz commented on #599
@riptidewave93 can you please share log from stash operator pod?

[2018-10-14 13:09] riptidewave93 commented on #599
@hossainemruz Sure thing, log is below:

{noformat}
$ kubectl -n kube-system logs stash-operator-6775bb86f8-cgb28 operator
I1014 12:32:19.753956       1 logs.go:19] FLAG: --alsologtostderr="false"
I1014 12:32:19.754880       1 logs.go:19] FLAG: --audit-log-batch-buffer-size="10000"
I1014 12:32:19.754943       1 logs.go:19] FLAG: --audit-log-batch-max-size="400"
I1014 12:32:19.755071       1 logs.g

[2018-10-14 14:33] hossainemruz commented on #599
@riptidewave93 we are investigating the issue. We will reach you back once we fixed it.

Note: Stash 0.7.0 does not support kubernetes >=1.11.x yet. So many things may not work. We will cut a release soon supporting them.

[2018-10-16 06:11] hossainemruz commented on #596
ref: https://github.com/appscode/stash/blob/4506adea4cac4d6fb63d747c6a69e5c17d8c1727/pkg/util/kubernetes.go#L125

[2018-10-16 06:45] hossainemruz commented on #580
@arjunsbabu you also have to specify `subPath` in `volumeMounts` of Restic crd.
i.e.
[code]

[2018-10-16 08:58] hossainemruz opened #600 "Proposal: Recover in same volume"
User want to recover data in the same volume he backed up.

**Use case:** User may accidentally delete data from current volume and want to recover them from backed up volume without creating a new volume and re-deploying workload.

**Idea:** We can use init container to recover(just like offline backup). Workload will restart and init container will recover data in the same volume.

[2018-10-16 09:15] hossainemruz opened #601 "Proposal: Move cluster backup part from Kubed to Stash"
Make Stash all in one backup tool. Whenever you think of backup, whether it is volume, database or cluster you would be able to do it with stash.

Additionally user will get `de-duplication`, `retentionPolicy` and `encryption` facility.

[2018-10-16 09:21] hossainemruz opened #602 "Proposal: Simplify Restic specification"
Simplify Restic crd so that the yaml become self-explanatory. i.e.
[code]
Here,few things has been changes
- `volumeMounts:`  renamed as `targetVolumes:`
- `fileGroups:` moved to individual volumes and renamed as `directories`

[2018-10-18 09:54] hossainemruz opened #603 "Add doc explaining how to recover volume that was baked up by older version of stash"
As we have made some design changes in `Recovery` crd in stash 0.7.0 and introduced `Repository` crd. It is necessary to explain how to recover older snapshot with new stash.
- How to create Repository manually.

[2018-10-18 10:17] hossainemruz opened #604 "Improve monitoring metrics"
From slack: Users wants following metrics
1. List of deployments which have backup enabled

2. if we click on the deployments we need to see the number of backup taken , next schedule , last backup time , space consumed by it , Number of failures (edited)
3. If any workloads have backup failed we need to get a metrics , we already set up an alert manager rule to catch the promitheus metrics for fa

[2018-10-18 12:35] farcaller commented on #603
Note: it's not only an older snapshot, it's also when you get a total cluser wipeout and want to start recovering the PVCs first

[2018-10-18 15:30] emedina commented on #600
Notice that as a workaround, this can be already achieved by using the same `PersistentVolume` claim name that was used to create the backup in the `restic` manifest, as long as no running Pod is using it:

[code]

[code]

[2018-10-22 04:38] hossainemruz opened #605 "Support recovery without Repository crd"
From stash 0.7.0, recovery need Repository crd. When someones cluster fail, he will lose Repository crd too. In this case user must create a Repository crd manually to recover. Creating Repository crd manually is not easy as it requires guessing repository name appropriately.

We should provide a way to recover without Repository crd.
cc: @farcaller

[2018-11-04 21:56] valentin-krasontovitsch opened #607 "Unable to get snapshots on K8 v1.10.3"
Similar to #599, deploying stash 0.7.0 on kube 1.10.3 (server version) using helm 2.9.1, with enabling rbac, passing the correct CA certificate (same as the ones used for signing kube apiserver credentials), and enabling both webhooks, I am able to create a restic resource which seems to be taking backups of the specified volume, judging by the resulting repository, but when trying to look at snap

[2018-11-06 08:07] nznmol commented on #607
Thanks for the prompt response, @hossainemruz - running it with ansible, using helm, the command is:

[code]

[NB: I have replaced '\n' in the certificate with actual newlines for readability]. Since we're using ansible, and have our certificates flying around there, we had no need for ye good ol `onessl`.

The stuff with `upgrade --install --force`is to make sure that the action is idempotent.

T

[2018-11-06 08:08] valentin-krasontovitsch commented on #607
Thanks for the prompt response, @hossainemruz - running it with ansible, using helm, the command is:

[code]

[NB: I have replaced '\n' in the certificate with actual newlines for readability]. Since we're using ansible, and have our certificates flying around there, we had no need for ye good ol `onessl`.

The stuff with `upgrade --install --force`is to make sure that the action is idempotent.

T

[2018-11-06 08:49] hossainemruz commented on #607
Did any previous stash instance was installed?

[2018-11-06 09:19] dependabot[bot] opened #608 "Dependabot couldn't find a Gopkg.toml for this project"
Dependabot couldn't find a Gopkg.toml for this project.

Dependabot requires a Gopkg.toml to evaluate your project's current Go dependencies. It had expected to find one at the path: `/Gopkg.toml`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the comments below to con

[2018-11-06 10:58] valentin-krasontovitsch commented on #607
Totes - we had a first trial, then another trial, and then a third one : )

between the third and second one though, we removed all of stash using helm, and then also removed the left over thingies in kube, following comments / tips we found in different issues here and there - i think it was a cluster role, the webhook registration thingies, and the apiservice.

so in other words, the last trial

[2018-11-06 11:06] hossainemruz commented on #607
There were a cleanup issue with helm uninstall. we have fixed it in master.
Can you try following,
1. Uninstall Stash with following command
[code]
2. Then try installing again. If helm show similar behavior, i will recommend to try script process,
[code]
This will give you some log. That might help.

[2018-11-06 11:12] valentin-krasontovitsch commented on #607
there seems to be an issue with (line 118 in stash.sh)[https://github.com/appscode/stash/blob/78b288d31428e8416b3d300886797a4fae08bdee/hack/deploy/stash.sh#L118] - at least for me, kubectl would prefer `--output` rather than `-o` and actually throws...
but trying now, will report back how it went. thanks for the pointers!

[2018-11-06 11:17] hossainemruz commented on #607
One more thing. You are using `hostPath` for storing snapshots. This require your workload pod in running state to list snapshot.
Ref: https://github.com/appscode/stash/blob/master/docs/concepts/crds/snapshot.md#precondition-for-snaphsot

[2018-11-06 11:51] valentin-krasontovitsch commented on #607
thanks for the pointer, will keep it in mind. shouldn't cause a 'resource unknown' error though, right?

oh, I just noticed - we end up with an install in the default namespace, which didn't bug us too much - but might this be the source for the observed behaviour?

[2018-11-06 11:58] hossainemruz commented on #607
Is it working now?

installing in default namespace should be fine. However,if your workload was down while listing snapshot, you should get this error `no pod found for workload <workload-name>`.

[2018-11-06 12:30] valentin-krasontovitsch commented on #607
quick question - the script you reference is not master, it's 0.7.0 - is that intentional? or should I actually try with master?

[2018-11-06 13:07] valentin-krasontovitsch commented on #607
OK, cool, we get output that indicates that something is wrong ^^

the script fails while waiting for the apiservice to become ready -

[code]

and inspecting the apiservice yields the following output:

[code]

That IP lives in our cluster-service-ip-range, and a quick look at the services shows that there is a service under that IP:

[code]

So the question seems to be: why can't the apiservice

[2018-11-06 13:30] valentin-krasontovitsch commented on #607
Hmm, I can reach the service just fine (besides getting a 403 forbidden) from an arbitrary test-pod running in the default namespace. could this be connected to the fact that we're running on weave as the backend network for containers in kubelet? gonna try to find out a bit more about how an apiservice communicates (with normal services)...

[2018-11-19 06:53] hossainemruz opened #611 "Restart operator pod on update"
**Problem:**
When user update stash through helm or script, apiserver cert is generated again and webhooks are patched with new cert. But, stash apiserver does not restart and don't use new cert. As a result apiserver is not accessible. It gives `TLS handshake error`.

**Solution:**
We have to restart operator pod so that apiserver use new cert. However, automatic restart face following problem:
1

[2018-11-19 07:02] hossainemruz opened #612 "Prometheus does not respect `namespace` label of backup metrics"
**Problem:**
We set `namespace` label to backup metrics. However, Prometheus itself try to add `namespace` labels on metrics. As, this label already present, Prometheus rename this label as `exported_namespace` and add another `namespace` label.

**Solution:**
Set `honor_labels: true` in `prometheus.yaml` for builtin prometheus and in `ServiceMonitor` for CoreOS Prometheus operator.

It also requi

[2018-11-19 08:03] drazul opened #613 "Recovery task is not working"
Hi there,

I tried the tutorial example (https://github.com/appscode/stash/tree/master/docs/examples/tutorial) and recovery is not working.

I installed latest helm chart (stash-0.7.0) and tried different changes on the tutorial examples like don't use git repo as volume and use a hostpath and a volume claim, force all things will be deployed on same host and I always get the same error:

[code]

[2018-11-21 12:06] #596 closed

[2018-11-21 12:08] hossainemruz commented on #525
Additional column added. Available on master.

[2018-11-21 12:08] #525 closed

[2018-11-22 04:36] hossainemruz commented on #521
@arnadusable we don't see any problem with hyphen in `matchLabels`. We have tested in our setup and Stash is able to inject sidecar to them. Here, is our setup:

**Workload:**
[code]

**Restic:**
[code]

Make sure your workload has all the specified labels in `matchLabels:` field.

[2018-11-22 05:20] #521 closed

[2018-11-22 05:20] tamalsaha commented on #521
@arnadusable, please reopen if you are still seeing this issue.

[2018-11-22 09:45] hossainemruz opened #615 "Enable to force delay deletion of Recovery job for debugging purpose."
Sometimes Recovery failed and events are not enough to understand the failure reason. It will be great to see logs from recovery job. But, it is very hard to see log as job does not take much time to complete. So, we should add some mechanism to delay job completion.

[2018-11-22 10:55] #582 closed

[2018-11-22 11:48] drazul commented on #615
As a workaround for now we can remove delete right for job resources on cluster role stash-operator

[2018-11-22 12:44] tamalsaha opened #616 "Design review"
in _> CRD

out: Statefulset, Secret, Service + AppBinding

Vault / Database -> AppBinding

---------------------------------------------------

SidecarBackup |

VolumeBackup , Diskbackup

crd: BackupJob
[code]
[code]
mysqldump -host | restic -r s3:mydb

Non-namespaced CRD: BackupTemplate, RecoveryTemplate
[code]

-----------
[code]
----------
[code]
---------

BackupJob + (template) -> k8s:Job

De

[2018-11-22 13:03] hossainemruz opened #617 "Stash don't pass `nodeSelector` from Recovery crd to recovery Job."
We don't pass `nodeSelector` from `Recovery` to recovery Job.
https://github.com/appscode/stash/blob/705ecd09ddde608b9a66ed248acbc8229cfe8c24/pkg/util/kubernetes.go#L302

Currently we set `nodeName` which comes from `Repository` crd label.
Repository crd get it from the stash sidecar which again try to detect using `opt.NodeName = os.Getenv("NODE_NAME")`.

https://github.com/appscode/stash/blob/fc

[2018-11-23 06:17] hossainemruz commented on #617
Fix already is in master branch.
https://github.com/appscode/stash/blob/3dc6fc5deea89d7bc2617f2cc559cd71ed8f2e5c/pkg/util/kubernetes.go#L352

[2018-11-23 06:17] #617 closed

[2018-11-26 14:03] drazul opened #621 "Configure environment variables (or proxy settings) on restic and recovery CRDs"
Hi there,
I'm trying to check the workflow for backup/recovery on my kubernetes cluster and I found a problem because my cluster is behind a proxy.

Because of that I need to be able to configure proxy settings for pods created by stash

[2018-12-08 01:24] tamalsaha opened #627 "Stash chart is throwing error"
[code]

[2018-12-09 03:01] #627 closed

[2018-12-09 03:34] tamalsaha commented on #627
@dNetGuru, please try 0.8.1 . This issue should be fixed.

[2018-12-09 03:43] dNetGuru commented on #627
Thanks, I can confirm that `0.8.1` fixes this problem.

[2018-12-13 10:03] sebastien-prudhomme commented on #592
As 0.8.0 is released, can be closed

[2018-12-13 10:03] #592 closed

[2018-12-20 08:52] Xnyle opened #633 "FR: Add possibility to automatically restore a backup on deployment"
My use case is as follows:

1. Create Deployment, Restic, Recovery simultaneously.
2. If there is a backup taken for the respective Deployment, Stash should recover it (via init container).
If no backup exist, nothing to do.
3. Then, Deployment starts.
4. Restic again takes backup of the Deployment.

I'm in need of this as I constantly destroy/reinstall deployments (on different clusters/arch) for

[2018-12-20 17:28] nkrendel opened #634 "Install of 0.8.0 or 0.8.1 fails on EKS"
A couple of weeks ago I built a custom image from master (0.7.0++), which contained fixes that allowed Stash to be installed in EKS.  It installed fine but Snapshots were not available.  I am now trying to install 0.8.0 or 0.8.1, but both hang when the 'operator' container tries to come up.  This is what I see in the container log:
[code]
It hangs on that last line and never comes up.  Now I would

[2018-12-25 11:08] segator opened #635 "Architecture questions"
How exactly works the backup?
is a incremental backup system?
how it detect no necesary to backup a file? (checksum, size+mtime?)
imagine you have milions of little files, but only 1 file of 1kb is changed, it will take long time to detect and sync the backup?

[2018-12-25 12:59] hossainemruz commented on #635
@segator Stash uses [restic](https://restic.net/) for backup. `restic` follow a deduplication strategy for backup. Please read about how `restic` uses deduplication from [here](https://restic.readthedocs.io/en/stable/design.html?highlight=deduplication#backups-and-deduplication).

`restic` will read all target file and chunk it if it is larger than 512KB. Then, it will check if the chunk is alread

[2018-12-25 14:51] segator commented on #635
thank you very much!!

[2018-12-25 14:51] #635 closed

[2018-12-27 07:09] hossainemruz commented on #611
Fixed on https://github.com/appscode/stash/pull/636

[2018-12-27 07:09] #611 closed

[2018-12-27 07:37] hossainemruz commented on #634
@nkrendel which version of EKS are you using? What is your kuberneternetes version?

[2018-12-27 16:22] nkrendel commented on #634
It's 1.10, Platform version eks.3, which I think translates to 1.10.3.

[2018-12-28 13:31] devdattakulkarni opened #640 "Backend configuration doc link broken"
Following link is giving 404:
https://github.com/appscode/stash/blob/master/docs/guides/backends.md

It is linked from following page:
https://github.com/appscode/stash/blob/master/docs/concepts/crds/restic.md

[2018-12-28 13:36] hossainemruz commented on #640
Fixed on https://github.com/appscode/stash/pull/641

[2018-12-28 13:36] #640 closed

[2019-01-07 07:56] lorenzomorandini commented on #613
Same problem, any news on this?

[2019-01-07 08:02] hossainemruz commented on #613
@lorenzomorandini which stash version are you using? We have fixed this issue in https://github.com/appscode/stash/pull/620 and it is available in 0.8.x release.

[2019-01-07 08:04] lorenzomorandini commented on #613
Version 0.7.3, I'm going to upgrade now. Can you please close the issue? I thought it still needed to be fixed

[2019-01-07 08:04] lorenzomorandini commented on #613
Thank you btw

[2019-01-07 08:05] hossainemruz commented on #613
Fixed in https://github.com/appscode/stash/pull/620. Fix available in Stash 0.8.x.

[2019-01-07 08:31] lorenzomorandini commented on #613
**Deployment**
`kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: gitlab
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: rbd
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab
  labels:
    app: gitlab
spec:
  selector:
    matchLabels:
      app: gitlab
  replicas: 1
  template:
    metadata:
      labels:

[2019-01-07 08:43] hossainemruz commented on #613
@lorenzomorandini your Restic specification doesn't seems to be right. If you want to backup in a PVC you have to specify `backend` section this way.

[code]

[2019-01-07 08:50] lorenzomorandini commented on #613
I'll try immediately and let you know, thank you.

[2019-01-07 09:40] lorenzomorandini commented on #613
I confirm that was the problem, thank you.

[2019-01-07 09:48] #613 closed

[2019-01-16 08:13] hossainemruz opened #648 "Stash v1beta1 design discussion"
# Stash Design Overview

We are going to make a design overhaul of Stash to simplify backup and recovery process and support some most requested features. This doc will discuss what features stash is going to support and how these features may work.

We  have introduced some new crd  such as [Function](#function), [Task](#action) etc. and made whole process more modular. This will make easy to add

[2019-01-16 21:10] whereisaaron commented on #648
Stash has traditionally targeted file backups 'within' a workload. Injecting sidecars to gain access to the mounted disk within the Pod. I believe this was motivated by the early days of k8s where most disk was exclusive-mounted on a Pod (ReadWriteOnce) and sometime not auto-provisioned (via PVC/PV).

However, now a great many persistent file storage options are auto-provisioned (PVCs) and are Rea

[2019-01-22 13:47] hossainemruz commented on #648
@whereisaaron We have updated design doc. It includes your requested feature. We made some significant changes of previous design. Please review and give us your valuable feedback.

[2019-01-23 09:54] hossainemruz opened #649 "Add controller for BackupConfiguration"
**Task:**
- Add controller for `BackupConfiguration` crd.
- On reconciliation, it determines weather configured backup should be taken through `sidecar`  or `CronJob`
- Then, call `EnsureSidecar` and/or `EnsureCronJob` methods based on backup model.

`EnsureSidecar:`
- It will give an event to the target workload's workqueue.

`EnsureCronJob`:
- Ensure RBAC for `CronJob`
- Create a `CronJob` which

[2019-01-23 11:07] hossainemruz opened #650 "Update backup process of sidecar"
**Task:**
- Add controller for `BackupInstance` in the sidecar. (currently, it has `Restic` crd controller)
- On reconciliation, if new `BackupInstance` is found, it will perform following tasks:
	- initialize a repository in the backend.
	- take backup.
	- update `Repository` status.
 	- update `BackupInstance` status.

[2019-01-23 11:28] hossainemruz opened #651 "Update workload controllers to inject sidecar based on BackupConfiguration"
Currently, sidecar is injected based on `Restic`. Update it to be based on `BackupConfiguration`.

**Controller to update:**
- [x] Deployment
- [x] DaemonSet
- [x] StatefulSet
- [x] ReplicaSet
- [x] ReplicationController

[2019-01-23 11:43] hossainemruz opened #652 "Add Function and Tasks"
Build Action Images for:
- [ ] stash (stashInit, stashPostBackup, stashPostRecovery)
- [ ] volumes (volumeBackup, volumeRecovery)
- [ ] PosgreSQL (pgBackup, pgRecovery)
- [ ] MySQL (mysqlBackup, mysqlRecovery)
- [ ] MongoDB (mongoBackup, mongoRecovery)
- [ ] Elasticsearch (elasticBackup, elasticRecovery)

[2019-01-23 12:06] hossainemruz opened #653 "Add StashTemplate and Action crd"
Add `StashTemplate` and `Action` crds for:
- [x] stash (stashInit, stashPostBackup, stashPostRecovery)
- [x] volumes (volumeBackup, volumeRecovery)
- [x] PosgreSQL (pgBackup, pgRecovery)
- [x] MySQL (mysqlBackup, mysqlRecovery)
- [x] MongoDB (mongoBackup, mongoRecovery)
- [x] Elasticsearch (elasticBackup, elasticRecovery)

[2019-01-23 17:26] lorenzomorandini commented on #648
Do you already have an ETA for this new version?

[2019-01-23 17:48] hossainemruz commented on #648
@lorenzomorandini we are targeting for March.

[2019-01-24 06:59] whereisaaron commented on #648
Backing up target PVC’s looks good. I assume you can restore to a PVC target the same way?

The StashTemplate multi-step stuff looks perhaps too complex? Is it really needed? Are the examples useful? E.g. you only need to init a repo once.

[2019-01-24 07:00] hossainemruz opened #654 "Add BackupInstance controller in operator"
**Task:**
- Add controller for `BackupInstance` in operator
- On reconciliation, it will perform following tasks:
	- if backup has been taken for this `BackupInstance` then do nothing
	- if backup hasn't been taken for this `BackupInstance` then determine backup type and do following:
		- if it is sidecar backup then do nothing. (`BackupInstance` controller in the sidecar will do the job.
		- if i

[2019-01-24 07:43] hossainemruz opened #655 "Add support for Volume backup"

[2019-01-24 07:44] hossainemruz opened #656 "Add support for Database backup"
**Databases:**
- [x] PostgreSQL
- [x] MySQL
- [x] MongoDB
- [x] Elasticsearch

[2019-01-24 07:45] hossainemruz opened #657 "Add support for Cluster yaml backup"

[2019-01-24 07:50] hossainemruz opened #658 "Add support for default backup"
**Tasks:**
- [x] Update workload controllers to handle backup annotations
- [x] Add controller for AppBinding
- [x] Add controller for PVC

[2019-01-24 08:03] hossainemruz opened #659 "Add support to recover workload data (in place)"
**Tasks:**
- Update `recovery` command & process to check `recoveryPolicy`
- Update Recovery controller to support in-place recovery.
- On reconciliation, it will determine weather to recover through `init-container` or `Job` and perform following tasks:
	- if recovery mode is `init-container` then, inject a `init-container` and restart workload (scale-down-to-zero, scale-up-to-one, scale-up-to-or

[2019-01-24 08:03] pierreozoux commented on #648
I'm really impressed by this, and it looks like the wishlist of many here. Again, thanks for the amazing work you are doing, this is beautiful!

First, I'd like to comment that it looks like the [new backup mechanism from AWS](https://aws.amazon.com/de/blogs/aws/aws-backup-automate-and-centrally-manage-your-backups/), and I'm excited from both :)

For default backup, I'd use the same strategy as f

[2019-01-24 09:35] hossainemruz opened #660 "Add support to recover volume"
**Tasks:**
On reconciliation, perform following task:
- Resolve variables of `Action` with help of StashTemplate.
- Create Job for recovery.

[2019-01-24 09:38] hossainemruz opened #661 "Add support to recover database"

[2019-01-24 09:43] hossainemruz opened #663 "Update Snapshot handling through EAS to match new design"

[2019-01-24 09:49] hossainemruz opened #664 "Add/Update Monitoring metrics"

[2019-01-28 05:53] pierreozoux commented on #648
I worked a bit more on it. I have some more comments.

An `action` really looks like a templated job for me. I'm not sure we need to introduce an other CRD that is really similar to another already existing. Or we call it "JobTemplate", and we try to push it upstream.

To go back to [AWS blogpost](https://aws.amazon.com/de/blogs/aws/aws-backup-automate-and-centrally-manage-your-backups/), I think

[2019-01-28 06:12] hossainemruz commented on #648
@pierreozoux thank you for this great feedback. I really loved the naming. I will discuss with my team about this. I think we can make some adjustment following your feedback before we announce this design doc to public.

That's the plan for KubeDB integration.

Yes. We are doing this for `ReadWriteOnce` volume. We are definitely keeping eye on `Volume Snapshot`. As it is still in alpha, we are no

[2019-01-31 11:39] giovannicandido commented on #388
This would also solve consul snapshots, not only databases. I like the idea of central backup tool with one source for management, monitoring and alerts.

Stash could pipe the stream to restic and "tag" the backup with the date and time. When a restore is necessary the restore command will receive the pipe from a specific backup file.

[2019-02-01 23:18] mabushey opened #665 "Does not install in stash namespace"
Issue One: --purge does not purge, but it does install

Issue Two: at https://appscode.com/products/stash/0.8.2/setup/install/ - this is really confusing as it looks like a wrap around line:
[code]

Issue Three:
This works: `curl -fsSL https://raw.githubusercontent.com/appscode/stash/0.8.2/hack/deploy/stash.sh | bash -s -- `

[code]

This does not work:
`kubectl create namespace stash` (This is fi

[2019-02-01 23:20] mabushey commented on #665
[code]
Installed on AWS via Kops.

[2019-02-04 18:38] mabushey commented on #665
`curl -fsSL https://raw.githubusercontent.com/appscode/stash/0.8.2/hack/deploy/stash.sh | bash -s -- --purge` - This does an install. Grabbed the full output from history:
[code]

[2019-02-04 18:58] mabushey commented on #665
I see the latest commit in the repo, but it still does not work:
[code]

[2019-02-04 18:59] mabushey opened #667 "Does the stash.sh script have to download onessl for help?"
[code]

[2019-02-05 03:38] hossainemruz commented on #665
@mabushey you have to pass `--uninstall` flag along with `--purge`.

Try this:
[code]

We haven't released a new version yet with this commit. So, it will not be available until next release.

[2019-02-05 03:43] hossainemruz commented on #667
@mabushey we use `onessl` to generate certificate for stash Aggregated API server. It also help us to check weather a cluster does support Aggregated API server or not. We also use it to substitute environment variables in YAML files.

[2019-02-05 22:02] mabushey commented on #667
@hossainemruz So you're saying you agree with me that what it's used for does not include displaying -h options, correct?

[2019-02-06 19:47] tamalsaha commented on #648
Folks, fyi, @hossainemruz and I did a round of review today and left the comments in the pr https://github.com/appscode/stash/pull/647.

[2019-02-10 10:46] cyrilgt opened #670 "Instance label in pushgateway is deprecated - Not use HostnameGroupingKey()"
In file prometheus.go, you use the function HostnameGroupingKey() which is deprecated.
When K8s delete / create pods in same deployment, pod name change and old metrics are not deleted from pushgateway.
Graphs and alerts show old success or failed backup.
Can you delete usage of this function ? I will try this code :
[code]
To enhance more metrics, you can view restic-robot, metrics are available

[2019-02-11 03:30] hossainemruz commented on #670
@cyrilgt Thank you for your feedback. We will remove `HostnameGroupingKey()`. Btw, we are already working on improving Stash metrics. New metrics includes every metrics of restic-robot + more.

[2019-02-11 17:15] ivaravko opened #672 "Targeted Workload stuck in terminating state after deleted a Restic CRD"
When deleting a Restic CRD targeted to a Workload, the pod stuck in terminating state
[code]
Logs attached from the targeted Workload

[code]

Stash operator installed via a Helm chart.
[code]
The values.yaml contains
[code]

[2019-02-12 05:00] hossainemruz commented on #672
@ivaravko I am unable to recreate the issue. Is it persistent?

[2019-02-12 08:47] tamalsaha commented on #320
In v1beta1 api, Restic is renamed to `BackupConfiguration`
https://github.com/appscode/stash/pull/647#issuecomment-461017921

[2019-02-12 08:47] #320 closed

[2019-02-12 08:49] tamalsaha commented on #616
Dup: https://github.com/appscode/stash/issues/648

[2019-02-12 08:49] #616 closed

[2019-02-12 08:50] tamalsaha commented on #388
Design is finalized here: https://github.com/appscode/stash/issues/648

[2019-02-12 14:56] poelzi commented on #648
:+1:

[2019-02-13 17:44] ivaravko commented on #672
@hossainemruz It is not persistent. This is repeated only on a certain Deployment.
Additional logs from the operator
[code]
Logs from stash sidecar
[code]
The stash operator deleted sidecar RoleBinding at `17:25:29`
[code]
but at `17:25:30` leaderelection.go trying get configmap
[code]

It seems RoleBinding removed before deleting the sidecar.

[2019-02-14 03:45] hossainemruz commented on #672
Good catch @ivaravko. This will happen when you delete Restic and there is already a schedule for backup. As you have deleted restic, respective RBAC stuff will be deleted. So, the backup will fail. However, we must fix getting stuck in terminating state.

[2019-02-14 09:13] hoatle commented on #520
I'm currently having a problem with the current restic version (0.8.3) which did not restore well on google cloud storage (stuck forever).

I tried with latest version of restic (0.9.4) and it works well.

Now I'm stuck with the latest version of stash (0.8.2) with the old version of restic (0.8.3).

Do we have any workaround/solution to specify to use a different version of restic for stash to re

[2019-02-14 09:20] hossainemruz commented on #520
@hoatle `restic 0.9.x` has changed backup process. It uses absolute path for backup and restore which is not backward compatible with `restic 0.8.x` which use relative path. So, we decided to stay with `restic 0.8.3`. However, in next version of Stash we are going to  upgrade `restic` to latest version(it won't be backward compatible).

Btw, did you found why `restic 0.8.3` stuck while restore?

[2019-02-15 10:22] hoatle commented on #520
@hossainemruz I could not find out the reason why restic 0.8.3 was stuck when using google cloud storage, I tried the same with local backend, the backup and recovery works well. So I guess there could be something wrong specific to google cloud storage.

[2019-02-15 11:12] hossainemruz commented on #520
@hoatle do you see any log in stash sidecar/backup job pod?

[2019-02-15 12:03] hoatle commented on #520
@hossainemruz backup works well, only problem with recovery (restore).
the stash recovery job is stuck, running forever without any more debugging logs.

[code]

And I tried restic restore directly instead of stash.
- with restic 0.8.3 and gcs repo: restic restore was stuck.
[code]
- with restic 0.8.3, I tried to sync the gsc repo into the local file system and try restic restore from that local r

[2019-02-16 04:38] hoatle commented on #520
actually, it's not stuck but took a lot of time.
- It took about 28 seconds when I synced gcs repo into the local file system and then execute restic restore.

- It took about 23 minutes when I executed restic restore directly from the gcs repo.

I don't think this is acceptable when the restic repo is still very small (about 50MB in size).

[code]

I guess I will need to recover manually as a wor

[2019-02-19 02:09] tamalsaha commented on #670
https://github.com/prometheus/client_golang/blob/77e8f2ddcfed59ece3a8151879efb2304b5cbbcf/prometheus/push/deprecated.go#L161

[2019-02-19 02:10] #670 closed

[2019-02-19 05:16] hossainemruz opened #684 "Q: What will happen when workload is renamed while recover"
**Problem:**
Currently, Stash uses workload name (pod name for StatefulSet) as `hostname` while backup. If we change workload name while recover, stash will be unable to recover as `hostname` will not match.

**Possible Solution:**
Don't use workload name as `hostname`. Use as followings as `hostname`:
- StatefulSet: `host-<pod id>`
- Deployment: `<fixed-host-name>`
- DaemonSet: `<node name>`

[2019-02-19 05:33] hossainemruz opened #685 "Q: What will happen when replicas of recovered StatefulSet is greater than the replica of original StatefulSet that was backed up"
**Problem:**
Currently, StatefulSet pod id is used as `hostname`. If replica is increased while recovery than the original replicas of the StatefulSet which was baked up, the extra replica will not match any `hostname` in the backup repository. This might cause restore process of whole StatefulSet to fail.

**Possible workaround:**
If any replica does not match to any `hostname`, skip restore for

[2019-02-19 05:39] hossainemruz opened #686 "Q: What will happen when new node added to a cluster and a DaemonSet has restore pre-configured?"
**Problem:**
Currently, nodename is used as `hostname` for DaemonSet. If a new node is added to the cluster and a DaemonSet is configured to restore first, daemon pod of new node will fail to recover as it will not match any `hostname` in the backup repository.

**Possible workaround:**
If any daemon pod does not match to any `hostname`, skip restore for this particular daemon pod.

[2019-02-19 08:05] tamalsaha commented on #648
# RestoreSession

[code]
![screenshot_20190219_131524](https://user-images.githubusercontent.com/94814/52999219-0fa6fd80-33da-11e9-9859-1b2a42c48cbd.png)

[2019-02-22 01:56] mabushey commented on #665
Looks like it's working in the stash namespace in stash 0.8.3

[2019-02-22 01:56] #665 closed

[2019-02-25 03:50] tamalsaha commented on #648
[ ] Task -> Blueprint ?
[ ] Function -> Action ?

[2019-02-27 19:25] xmath279 opened #690 "Unable to deploy on AKS"
Hello, I'm having issues installing Stash using the one-liner `curl -fsSL https://raw.githubusercontent.com/appscode/stash/0.8.3/hack/deploy/stash.sh | bash`. It worked fine on my test bare-metal instance, but when I try to deploy it on AKS, the stash operator deployment is never ready and the pod gets in "CrashLoopBackOff" state.

Here is the info from the pod describe:
[code]

[2019-03-01 11:54] #690 closed

[2019-03-06 10:04] lorenzomorandini opened #692 "Internal error occurred: failed calling webhook "deployment.admission.stash.appscode.com": the server is currently unable to handle the request"
Hi,
sometimes stash doesn't allow us to create new deployments in our cluster (even if the deployment doesn't have anything to do with stash and backups).
The error is the following:
[code]

The commands from https://github.com/appscode/stash/issues/510 allow us to fix the problem but sometimes it reappears. I couldn't find a reason, it seems to appear randomly.

[2019-03-06 10:12] hossainemruz commented on #692
@lorenzomorandini Stash uses mutating webhook that allow us to insert sidecar while creating a workload if there is Restic configured for this workload. Every workload(Deployment,StatefulSet,DaemonSet etc.) goes through this mutation webhook. So, if stash operator pod is unhealthy then you would become unable to create a workload. The workaround you have specified remove those webhooks.

[2019-03-06 10:17] hossainemruz commented on #692
It shouldn't re-appear randomly. If you create those webhooks again and Stash operator pod is unhealthy only then the problem should re-appear.

Can you please share following information?
1. What version of Stash are you using?
2. What is your Kubernetes version?
3. What cloud provider are you using?
4. Log from stash operator pod.

[2019-03-06 10:27] lorenzomorandini commented on #692
The stash operator was in error since he couldn't find the webhooks anymore, I uninstalled and installed stash, seems to be working now. I'm still not sure why it stopped working but if it happens again I'll report back.
1. Stash 0.8.3
2. Kubernetes 1.13.3
3. Self hosted

[2019-03-07 13:28] devops-42 opened #693 "Xattr error when trying to restore from Ceph volume (OpenShift)"
Hi,

my setup is a all-in-one OpenShift installation (OKD origin 3.11, single-node) combined with Ceph (single-node) for dynamic volume provisioning.

I played around with the demo scenario from https://appscode.com/products/stash/0.8.3/guides/platforms/minio/ using the original templates from this site.

Backup works, the described snapshots are listed in the given Minio instance.
Unfortunately r

[2019-03-11 22:36] pjaak opened #697 "Stash using high memory"
Hi,

I have deployed stash into my kubernetes cluster to backup prometheus volumes. I have noticed stash is using 5gb+ memory is this normal?

Thanks

[2019-03-11 22:36] pjaak commented on #697
+

[2019-03-11 22:39] ndarilek opened #698 "401 creating repositories on B2"
Using Stash 0.8.3 and am getting the following in my Stash sidecar logs:

[code]

Initially I set my account ID to my master account ID. This was wrong, so I changed that to the application key ID of the key I was using. No change. I've deleted and recreated the secret a couple times, checked to ensure that the key/ID matches, ensured the files are only a single line, etc.

I'm looking at [this is

[2019-03-12 03:18] hossainemruz commented on #698
@ndarilek did you tried this workaround? https://github.com/restic/restic/issues/1923#issuecomment-410037036

[2019-03-12 03:23] hossainemruz commented on #697
@pjaak 5gb+ memory usage is not expected. Can you provide any profiling data of Stash operator. Follow similar steps describe here: https://github.com/appscode/voyager/blob/master/docs/guides/ingress/monitoring/operator-profiling.md

[2019-03-12 03:34] ndarilek commented on #698
Are you asking what I set the application/account ID to? Tried both the
master with a master application key, and the application key ID/secret.
No luck.

[2019-03-12 04:19] hossainemruz commented on #698
Ok. Then, we need to take a look. We will update you if we find anything.

[2019-03-12 08:16] lorenzomorandini opened #700 "Operator keeps restarting, is it normal?"
I just noticed that my Stash operator keeps restarting (I'm over 700 restarts now). The log is the following:
[code]

[2019-03-12 08:17] hossainemruz commented on #700
@lorenzomorandini this behavior is not expected.Can you show full log from operator pod?

[2019-03-12 08:23] lorenzomorandini commented on #700
It just restarted, like now it's like this
[code]

[2019-03-12 08:23] lorenzomorandini commented on #700
I'll update when something changes

[2019-03-12 08:27] lorenzomorandini commented on #700
[code]

[2019-03-12 08:35] hossainemruz commented on #700
We need log just before shutting down operator pod for further debug.

[2019-03-12 08:37] lorenzomorandini commented on #700
From the previous logs (kubectl logs -p) it seems that it shuts down after Sync/Add/Update, nothing special. I'm waiting for the next restart

[2019-03-12 08:49] lorenzomorandini commented on #700
[code]

[2019-03-12 08:52] lorenzomorandini commented on #700
It restarted without further logs

[2019-03-12 08:58] hossainemruz commented on #700
What is your Kubernetes version? Also how did you installed stash? script or helm?

[2019-03-12 09:01] lorenzomorandini commented on #700
Kubernetes version 1.13, bare metal. Installed using script

[2019-03-12 09:06] hossainemruz commented on #700
Ok. Can you please edit stash operator deployment and remove these two sections and check if it restart:
[code]

[2019-03-12 09:14] lorenzomorandini commented on #700
I'll try and let you know

[2019-03-12 09:58] lorenzomorandini commented on #700
It didn't restart in the last 40 minutes

[2019-03-12 09:59] hossainemruz commented on #700
Good. Is backup working?

[2019-03-12 10:00] lorenzomorandini commented on #700
Seem so, I can't test it right now

[2019-03-12 10:02] hossainemruz commented on #700
ok. don't close the issue. we have to decide weather we should keep `readinessProbe` and `livenessProbe` disabled by default.

[2019-03-12 10:13] lorenzomorandini commented on #700
I noticed it failed one of my backup during the night but I can't find any logs since the operator restarted many times. Maybe it's not a stash problem tho, I think it could have finished the space in the backup volume. I'll see tonight if I can find anything in the logs.

[2019-03-12 14:06] ndarilek commented on #698
According to a reply on the previously-linked Restic issue, the
Backblaze API changed in 2018, and Restic was updated to match. It looks
like the containers are running Restic 0.8.0, which was released in
2017. So this is probably broken until the upgrade.

I see an outstanding issue to upgrade Restic. Is there a timeline on
that? It looks like an upgrade will break backwards-compatibility.
Should

[2019-03-12 14:26] ndarilek commented on #547
I'm having this exact same issue, and I'm as sure as I can be that *none* of my keys have newlines. I created them using the AWS CLI, so I never echoed anything, just cut-and-pasted from the output and removed everything between the quotes and pasted it directly into single-line files. Vim, Gedit and `wc -l` all agree that the AWS credentials and Restic secret are single-line files.

Is there no G

[2019-03-13 08:15] lorenzomorandini commented on #700
I confirm it is not restarting anymore. One of my backups isn't working tho, what is the best way to get some logs about it? Trigger it again?

[2019-03-13 08:21] hossainemruz commented on #700
Please, tell us details about what is happening. Does stash inject sidecar? Check if there is any event in Restic crd. Any log from backup sidecar? If backup sidecar is not injected then log from stash operator might give any hints.

[2019-03-13 08:24] lorenzomorandini commented on #700
Ok I was checking the logs of the operator, not of the sidecar. The sidecar logs show that there is no space left, I'm doing to change the volume.

What about the probes problem?

[2019-03-14 22:07] pjaak commented on #697
![Screen Shot 2019-03-15 at 9 05 03 am](https://user-images.githubusercontent.com/45154743/54394670-b04ebb80-4701-11e9-8333-4dc5e8d5b14e.png)

Its actually using 28gb on all my clusters and CPU spikes heaps when backups are getting created, is there GC or anything?? Is there a setting i need?

[2019-03-14 22:20] pjaak commented on #697
![Screen Shot 2019-03-15 at 9 19 04 am](https://user-images.githubusercontent.com/45154743/54395256-74b4f100-4703-11e9-9098-76993759c84c.png)
I ran a top on the stash sidecar pod... Looks like 25252712K is getting cached on the pod memory which is 24GB roughly @hossainemruz

[2019-03-14 22:30] pjaak commented on #697
![Screen Shot 2019-03-15 at 9 24 07 am](https://user-images.githubusercontent.com/45154743/54395816-05400100-4705-11e9-884f-f491dc25d8d9.png)

[2019-03-15 03:45] hossainemruz opened #703 "Cleanup old cache after backup"
**Problem:**
We didn't cleanup old cache which lead to high memory usage.Ref: https://github.com/appscode/stash/issues/697

**Solution:**
Use `--cleanup-cache` flag with backup command. Ref: https://restic.readthedocs.io/en/stable/manual_rest.html?highlight=cache#usage-help

[2019-03-15 03:46] hossainemruz commented on #697
That make sense. We didn't clean old cache. Thank you for figuring it out. We should cleanup cache after each backup. We are tracking this issue here: https://github.com/appscode/stash/issues/703

[2019-03-17 23:20] pjaak commented on #703
thanks for looking into this!

[2019-03-17 23:28] pjaak commented on #697
Thanks @hossainemruz ill be watching the bug

[2019-03-18 07:32] minhdanh opened #704 "stash says backup succeeded but there's no snapshots when running `restic snapshots`"
I'm trying stash with a simple use case.
The resources were created successfully and I could see stash reported the backup running fine:

[code]

There're snapshots reported by stash also:

[code]

The point is when I list the snapshots with `restic snapshots`, I don't see any snapshots:

[code]

 I confirm the repo url, password, key id and key secret are correct and the same as declared in the s

[2019-03-18 07:43] hossainemruz commented on #704
@minhdanh can you show yaml for respective `Repository` crd? Also, please share what did you exported as `RESTIC_REPOSITORY` environment variable while running restic binary.

[2019-03-18 07:47] minhdanh commented on #704
@hossainemruz

Here it is:

[code]

[code]

I used restic from the sidecar container:

[code]

[2019-03-18 07:50] hossainemruz commented on #704
Use `export RESTIC_REPOSITORY=s3:https://minio.example.com/test-stash/test-stash/deployment/test-stash`

[2019-03-18 07:52] minhdanh commented on #704
Ah thank you, it worked with: `export RESTIC_REPOSITORY=s3:https://storage.robotinfra.tools/test-stash/deployment/test-stash`

[2019-03-18 07:52] #704 closed

[2019-03-19 04:39] tamalsaha opened #705 "Remove --rbac flag"
Assume default true.

[2019-03-19 04:44] hossainemruz commented on #648
Note:
-[ ] If one BakcupSession is already running then fail newly created BackupSession.

[2019-03-19 05:01] #649 closed

[2019-03-19 07:11] hossainemruz opened #706 "Stash v1beta1 documentation"
## Welcome

 - [x] Home
	- [x] Stash Features
- [x] Changelog (same as current)
- [x] Contributing (same as current. maybe improve in future)
- [x] Roadmap (same as current)
- [x] Acknowledgement(same as current)
- [x] Support (same as current)
- [ ] Known issue
	- Specify the scenario where stash will fail

## Concept
- [x] Stash Architecture
- [x] Declarative API
	- [x] Repository
	- [x] BackupC

[2019-03-19 11:57] hossainemruz opened #707 "Stash v1beta1 E2E test"
## Workload Backup & Restore
- [x] **Deployment**
	- [x] General backup & restore
		- create Deployment
		- generate some sample data inside workload
		- create Storage Secret
		- create Repository
		- create BackupConfiguration
		- check if backup sidecar has been injected
		- wait for backup
		- check if repository status has been updated
		- check if check if respective BackupSession status has

[2019-03-19 18:23] fpytloun commented on #126
Yes, it would be great to have this feature. Any update on when it will be released?

[2019-03-19 19:14] tamalsaha commented on #126
This will be supported by https://github.com/appscode/stash/issues/648 . We hope to be code complete this month, then write docs and release the rc.

[2019-03-20 23:43] pjaak commented on #703
@hossainemruz do we have any update on this and if it will be added into a release?

[2019-03-21 03:33] hossainemruz commented on #703
We are working on it. Wait for next release. This could be in 2nd week of April.

[2019-03-22 05:31] hossainemruz commented on #664
Advanced metrics added in this PR: https://github.com/appscode/stash/pull/673

[2019-03-22 05:31] #664 closed

[2019-03-22 05:50] tamalsaha commented on #703
This issue is unrelated from #697 . This one is about disk space used by /tmp folder for restic. This can be restricted to some user defined limit by setting the sizelimit field.

https://github.com/kubernetes/api/blob/kubernetes-1.13.0/core/v1/types.go#L602

[2019-03-22 05:53] tamalsaha commented on #697
@pjaak , this issue is different from #703.

From https://askubuntu.com/a/327115/167669,

From https://github.com/kubernetes/kubernetes/issues/43916#issuecomment-430841267 and https://github.com/kubernetes/kubernetes/issues/43916#issuecomment-466041186

We need to set stash sidecar containers memory request and limit equal. This will prevent the container from being using too much cache memory.

[2019-03-22 06:07] tamalsaha opened #708 "Runtime settings improvement"
Applies to v1alpha1 Restic and v1beta1 api.

[code]

#703 #697 #366

[2019-03-22 06:33] tamalsaha opened #709 "Use FailurePolicy ignore for K8s resource webhooks?"
https://github.com/kubernetes/api/blob/master/admissionregistration/v1beta1/types.go#L78

[2019-03-22 06:35] tamalsaha commented on #709
Some alternatives:

- Provide trouble shooting document
- Provide HA stash operator

- Collect user reports. We need to see actual use-cases where this problem happens.

[2019-03-22 07:05] tamalsaha commented on #462
- Get the PSP enabled minikube cluster
  - https://github.com/appscodelabs/tasty-kube/tree/master/minikube/psp

- Create PSP and add it to stash-sidecar ClusterRole
  - https://kubernetes.io/docs/concepts/policy/pod-security-policy/

- PSP for operator pods
  - https://github.com/kubedb/cli/pull/411/files?file-filters%5B%5D=.yaml
![operator-psp](https://user-images.githubusercontent.com/94814/5480

[2019-03-22 11:02] tamalsaha commented on #388
Dup https://github.com/appscode/stash/issues/648

[2019-03-22 11:02] #388 closed

[2019-03-22 11:49] tamalsaha commented on #161
This requires openshift 3.9.0 . Thanks to instructions from https://github.com/minishift/minishift/issues/2222, we can use minishift to test this locally. To test locally, download `minishift` from http://artifacts.ci.centos.org/minishift/minishift/master/latest/linux-amd64/ and move it to `/usr/local/bin` folder.

Then run
[code]

Open web UI and login using user: admin , pass: <anything> (minish

[2019-03-25 05:53] tamalsaha commented on #648
Restic issues
---
- Don't pipe output of failed command to restic as data
- Don't lock repo when restic fails (due to piping issue)
- `kubectl unlock repository` plugin

[2019-03-27 21:52] pjaak commented on #697
Okay no worries! @hossainemruz will wait for latest release

[2019-03-28 06:03] tamalsaha commented on #648
- [ ] Support multiple version of restic.

[2019-03-28 06:17] hossainemruz commented on #648
- [ ] Check `kubectl get snapshot` works with both restic version

[2019-03-28 06:20] hossainemruz commented on #520
Fixed in https://github.com/appscode/stash/pull/675.

- Used `restic-0.8.3` for `v1alpha1` api.
- Used `restic-0.9.4` for `v1beta1` api.

[2019-03-28 06:20] #520 closed

[2019-03-28 06:21] hossainemruz commented on #660
Fixed in https://github.com/appscode/stash/pull/676

[2019-03-28 06:21] #660 closed

[2019-03-28 06:24] hossainemruz commented on #659
Fixed in https://github.com/appscode/stash/pull/675

[2019-03-28 06:24] #659 closed

[2019-03-28 06:24] hossainemruz commented on #655
Done in https://github.com/appscode/stash/pull/676

[2019-03-28 06:24] #655 closed

[2019-03-28 06:25] hossainemruz commented on #654
Done in https://github.com/appscode/stash/pull/675

[2019-03-28 06:25] #654 closed

[2019-03-28 06:36] tamalsaha commented on #161
Check using discovery api if `apps.openshift.io/v1, DeploymentConfig`

https://github.com/appscode/voyager/blob/master/pkg/operator/servicemonitors.go#L18

[2019-03-28 06:38] tamalsaha commented on #161
https://github.com/kmodules/openshift/tree/master/apis/apps/v1

[2019-03-28 06:52] hossainemruz commented on #651
Done in https://github.com/appscode/stash/pull/675

[2019-03-28 06:52] #651 closed

[2019-03-28 06:52] hossainemruz commented on #650
Done in https://github.com/appscode/stash/pull/701

[2019-03-28 06:52] #650 closed

[2019-03-28 06:58] hossainemruz commented on #600
Supported by `v1beta1` design: https://github.com/appscode/stash/issues/648

Done in  https://github.com/appscode/stash/pull/675

[2019-03-28 06:58] #600 closed

[2019-03-28 07:00] hossainemruz commented on #604
Metrics has improved in https://github.com/appscode/stash/pull/673.

[2019-03-28 07:02] hossainemruz commented on #602
`v1beta1` api uses more meaningful and simplified specification. https://github.com/appscode/stash/pull/647

[2019-03-28 07:02] #602 closed

[2019-03-28 07:05] hossainemruz commented on #580
@arjunsbabu did this problem solved? If not, feel free to reopen.

[2019-03-28 07:05] #580 closed

[2019-03-28 07:06] hossainemruz commented on #589
@davidcodesido This problem should be solved in `Stash 0.8.3`. If not, feel free to reopen.

[2019-03-28 07:06] #589 closed

[2019-03-28 07:09] tamalsaha commented on #462
Discussion on PSP: https://www.youtube.com/watch?v=d3wEBtLXjaw

[2019-03-28 07:15] hossainemruz commented on #367
Default backup is supported in `v1beta1` design. It requires one `BackupConfigurationTemplate` that specifies template for `Repository` and `BackupConfiguration` crd and some annotations in workload that will be backed up.

v1beta1 design discussion: https://github.com/appscode/stash/issues/648

Reference PRs: #647 #674 #675

[2019-03-28 07:15] #367 closed

[2019-03-28 07:18] hossainemruz commented on #559
This is supported by `v1beta1` design and already doable in master.

`v1beta1` design discussion: https://github.com/appscode/stash/issues/648

[2019-03-28 07:18] #559 closed

[2019-03-28 07:19] hossainemruz commented on #214
Recovery/Restore metrics are supported by `v1beta1` api. Added in #673.

[2019-03-28 07:19] #214 closed

[2019-03-28 07:23] hossainemruz commented on #538
This doesn't seems to be stash issue. Feel free to reopen if it becomes stash specific.

[2019-03-28 07:23] #538 closed

[2019-03-28 07:25] hossainemruz commented on #439
Stash `v1beta1` design use 1:1 mapping between workload and repository.

Stash `v1beta1` design discussion: https://github.com/appscode/stash/issues/648

[2019-03-28 07:25] #439 closed

[2019-03-28 07:26] hossainemruz commented on #104
This has been documented here: https://appscode.com/products/stash/0.8.3/concepts/crds/restic/#spec-retentionpolicies

[2019-03-28 07:26] #104 closed

[2019-03-28 08:52] hossainemruz commented on #658
Done in https://github.com/appscode/stash/pull/675

[2019-03-28 08:52] #658 closed

[2019-03-28 09:03] hossainemruz commented on #595
Stash `v1beta1` api sends failure metrics for both backup and recovery. It is added in #673.

[2019-03-28 09:03] #595 closed

[2019-03-28 09:11] hossainemruz commented on #667
Reopen if you have any further question.

[2019-03-28 09:11] #667 closed

[2019-03-28 20:44] tamalsaha commented on #709
@hossainemruz , I think we probably should set failure policy to ignore for official K8s objects. I think the disruption it otherwise causes is too much.

[2019-03-28 20:47] tamalsaha commented on #692
xref: https://github.com/appscode/stash/issues/709

[2019-03-29 17:39] tamalsaha opened #711 "Support credential less backup/restore"
Using GCS on GKE, S3 on EKS etc should just work without any credential secret.

[2019-03-29 17:42] hossainemruz commented on #711
What about `RESTIC_PASSWORD` ?

[2019-03-29 17:43] tamalsaha commented on #711
That should be required. I meant to say no credential for cloud provider.

[2019-03-29 17:46] tamalsaha opened #712 "Compress uploaded snapshots"
We are going to wait for `restic` to do this.

Use gzip to compress. Example:
https://github.com/schickling/dockerfiles/tree/master/postgres-backup-s3

[2019-04-02 06:58] tamalsaha opened #715 "Stash kubectl plugin"
Stash cli/kubectl-plugin
We are going to provide a Stash plugin for kubectl. This will help to perform the following operations:

- Restore into the local machine instead of cluster (necessary for testing purpose).
- Restore into a different namespace from a repository: copy repository + secret into the desired namespace and then create RestoreSession object.
- Backup PV: creates matching PVC from

[2019-04-02 07:18] tamalsaha commented on #692
This will be fixed by https://github.com/appscode/stash/issues/692

[2019-04-02 13:30] tamalsaha opened #718 "Allow customizing Leader election config"

[2019-04-02 13:34] #161 closed

[2019-04-03 05:30] tamalsaha commented on #697
TODO:
- [x] API support is ready https://github.com/kmodules/offshoot-api/blob/3386b694ec505dca686fd81f82c3be89e9ca5fda/api/v1/runtime_settings_types.go#L92
- [ ] Document that stash sidecar containers memory request and limit equal to handle this issue.
- [ ] Add test to confirm that setting is passed to sidecar correctly.
- [ ] Explore some default memory limit for restic sidecar (for future).

[2019-04-03 05:44] tamalsaha commented on #545
- [ ] Add `Connections int `json:"connections,omitempty"`` to https://github.com/kmodules/objectstore-api/blob/master/api/v1/types.go for Azure, GCS, B2.

[2019-04-03 05:46] tamalsaha commented on #126
Fixed by https://github.com/appscode/stash/pull/713

[2019-04-03 05:46] #126 closed

[2019-04-04 04:17] tamalsaha opened #722 "Don't write secret data inside temp dir"
https://github.com/appscode/stash/blob/master/pkg/cli/env.go#L67

[2019-04-04 04:30] tamalsaha commented on #648
spec:
  tempDir: {
  	size:
  }
-------------------------------------------
if spec.TempDir == nil {
	1. don't mount emptyDir to /tmp
	2. use restic --no-cache ?
	3. write event to backupConfiguration that it is missing tempDir configuration?
} else {
	1. Mount emptyDir to /tmp
	2. Use restic --cache-dir
}

[2019-04-04 04:31] #366 closed

[2019-04-04 04:33] tamalsaha commented on #703
https://github.com/appscode/stash/pull/717

[2019-04-04 04:33] #703 closed

[2019-04-04 04:38] tamalsaha commented on #709
- https://github.com/appscode/stash/blob/master/chart/stash/templates/mutating-webhook.yaml#L33
- https://github.com/kubernetes/api/blob/master/admissionregistration/v1beta1/types.go#L82

[2019-04-04 04:44] tamalsaha opened #723 "Rename admission webhooks to avoid name collision"
xref: https://github.com/kubedb/project/issues/467

- https://github.com/appscode/stash/blob/master/pkg/controller/replicasets.go#L23
- https://github.com/appscode/stash/blob/master/chart/stash/templates/mutating-webhook.yaml#L105

[code]

Apply to both v1alpha1 and v1beta1 apis.

[2019-04-04 04:47] tamalsaha commented on #692
Dup #709

[2019-04-04 04:48] #692 closed

[2019-04-04 08:25] #722 closed

[2019-04-04 08:51] hossainemruz opened #727 "Register MutatingWebhookConfiguration for DeploymentConfig from chart"
[mutatingwebhookconfiguration](https://github.com/appscode/stash/blob/4cab69a05108929e9510df09ae0232da4ddb9a87/hack/deploy/mutating-webhook.yaml#L105) for OpenShift `DeploymentConfig` is missing in chart.

[2019-04-04 10:08] #709 closed

[2019-04-04 13:29] mumrau opened #728 "Timezone explanations"
Hello,

I'm wondering about the way stash handle timezones, I indeed have noticed some shifts in time with my scheduled backups. I'm looking for clarifications!

The CRON documentation linked in the docs states that :

time zone (as provided by the Go time package http://www.golang.org/pkg/time).
The time zone may be overridden by providing an additional space-separated field
at the beginning of t

[2019-04-04 15:33] #723 closed

[2019-04-04 15:34] tamalsaha commented on #727
Fixed in https://github.com/appscode/stash/pull/725

[2019-04-04 15:34] #727 closed

[2019-04-04 15:34] #708 closed

[2019-04-05 06:54] #545 closed

[2019-04-08 04:22] diptadas commented on #351
Fixed by #694

[2019-04-08 04:22] #351 closed

[2019-04-08 07:08] hossainemruz opened #731 "Uninstall script stuck while using --purge flag"
**Reason:**
`--purge` flag remove all crds registered for Stash. That includes `Repository` crd. `Repository` crd uses `finalizer. This `finalizer` is removed by Stash operator pod. Stash operator pod get deleted before deleting those crds. As a result while script try to delete `Repository` crd, it get stuck.

**Possible solution:**
 Patch crds to remove any `finalizer` before deletion.

[2019-04-09 09:10] hossainemruz opened #733 "Handle restored files permission properly"
Stash does not preserve permissions of original files after restore. We must add documentation explaining when file permission get changed and how user can configure stash to avoid this.

Here, is a summary of file permissions modification in different backup and restore scenarios:

## Backup and Restore Behaviour

| Case  | Original File Owner | Backup `sidecar` User | Backup Succeed? | Restore `

[2019-04-09 09:30] tamalsaha commented on #733
http://man7.org/linux/man-pages/man7/capabilities.7.html

`CAP_CHOWN`

[2019-04-09 14:09] Gizmos777 opened #735 "Can't restore backup on Persistent Volume (Ceph)"
Hello. I can't recovery backup on Persistent Volume which bases on  ceph.
I created crd recovery:

[code]

But it doesn't finish and it is staying in phase - running

`local-recovery   demo                   deployment.stash-demo              Running   32m`

In logs of stash-operator:
[code]
PVC:
[code]

[2019-04-10 04:15] hossainemruz commented on #735
Can you describe job `stash-recovery-local-recovery`. Check if there is any helpful event.

[2019-04-11 08:15] Gizmos777 commented on #735
Thank you! It's the problem because of  Pod Security Policy. NFS wasn't allow

[2019-04-11 08:35] #735 closed

[2019-04-11 11:18] hossainemruz opened #738 "Fix snapshot handling for new API"
- Operator pod crash while get snapshot.
- For new design, there might be Repository crd but underlying restic repository might not be initialized yet. Don't return error in this case. Return empty snapshot list.
- Now stash uses both restic 0.8.3 and 0.9.4. Check snapshot handling works using only one of them.

[2019-04-11 12:02] tamalsaha commented on #738
I think we should check if restic 0.9.4 can work with old repo or not. That will make it simple.

[2019-04-11 14:37] Gizmos777 opened #740 "Don't work backup on PV"
Hello.  I think that stash doesn't create backup on Persistent Volume.
I created PVC:
[code]
I created deployment
[code]
I wrote some files to directory /source/data and the size of this directory is 120M

[code]
I created restic

[code]
Snapshots were created successfully
[code]
However. The size of directory on NFS server is less then in pods
[code]
I didn't see any error in stash's logs:
[code]

[2019-04-11 18:43] hossainemruz commented on #740
Stash uses deduplication. It chunk files into smaller block and upload only those block that does not exist in the backend. So, if your files has any duplicate data then backup size is expected to be smaller than original size.

What problem are you facing during recovery?

[2019-04-12 07:36] Gizmos777 commented on #740
I started a process of recovery. It finished as succeeded. But i didn't see my files.
I created pvc:

[code]
I created a recovery:
[code]
There weren't any errors in logs of operator.
[code]
Then i created the demo deploy.
[code]
But my files weren't on pv
[code]

[2019-04-12 08:38] hossainemruz commented on #740
@Gizmos777 can you show yaml of your Deployment with stash sidecar? Also, please mention what Stash version are you using?

[2019-04-12 09:05] Gizmos777 commented on #740
I am using stash version 0.8.3
Yaml:
[code]

[2019-04-12 09:45] hossainemruz commented on #740
@Gizmos777 can you please provide YAML for Repository crd created by stash?

[2019-04-12 10:03] Gizmos777 commented on #740
[code]

[2019-04-15 11:00] Gizmos777 commented on #740
Do you have any idea why it doesn't create the backup?

[2019-04-15 11:51] hossainemruz commented on #740
@Gizmos777 can you explain why `Restic` and `Recovery` crd has different `path` in backend?

**Restic:**

[code]

**Repository:**

[code]

[2019-04-15 12:12] Gizmos777 commented on #740
Sorry. It was my mistake, i pointed a wrong file of restic.
I used:
[code]

[2019-04-15 12:26] hossainemruz commented on #740
In `Recovery` crd, `mountPath` should be `/source/data` not `/source-data`
[code]

[2019-04-15 13:07] Gizmos777 commented on #740
Thank for your help. Can close this issue.

[2019-04-15 13:07] #740 closed

[2019-04-15 20:56] devdattakulkarni opened #743 "Question about Backup behavior"
Hello,

We are using this Operator in our setup. We use it to take backup of a Custom Resource volume (Moodle). The exact steps can be found at following link:

https://github.com/cloud-ark/kubeplus/blob/master/examples/moodle-presslabs-stash/steps.txt

In order to take backup of the Volume used by Moodle Custom Resource instance, we first find out the created Deployment, give it some label, and t

[2019-04-16 03:31] hossainemruz commented on #743
@devdattakulkarni when Stash find a target, it inject a sidecar container. If any change happen in `spec.podTemplate` section of a Deployment, it restart. Thus, when Stash inject a sidecar container, old pods get terminated and new pods starts with the injected sidecar.

[2019-04-16 03:39] devdattakulkarni commented on #743
@hossainemruz Thanks for the clarification. Ok, I understand why the Pod gets restarted.

One issue with this approach though is that there is downtime experienced in the application (previous Pod is terminated and new Pod is started back up). Are there any thoughts/ideas around taking backup without using a sidecar?

[2019-04-16 03:58] hossainemruz commented on #743
@devdattakulkarni we have added standalone volume backup option in master (not yet released). This enables to take backup PVC without injecting sidecar to respective workload. This will let you backup without down time. However, your PVC must be mountable to multiple workload simultaneously.

[2019-04-16 09:23] hossainemruz opened #745 "Pause backup when `spec.paused: true` in BackupConfiguration crd"
`BackupConfiguration` crd has `spec.paused` field. However, it hasn't been used anywhere. It was used in `Restic` to pause backup.

Tasks:
- [ ] Skip backup from backup sidecar or backup job (or skip creating backup job from operator) if `spec.paused: true` in BackupConfiguration .
- [ ] Skip creating `BackupSession` from CronJob when `spec.paused: true` in BackupConfiguration .

[2019-04-16 10:46] devdattakulkarni commented on #743
@hossainemruz Cool! Will look forward to the next release.
Is there a specific Spec attribute in PVC that we need to set to make it mountable in multiple workloads?

[2019-04-16 10:49] hossainemruz commented on #743
Yes. Access mode of PVC should support mounting in multiple pod.
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

[2019-04-16 11:01] devdattakulkarni commented on #743
Ok. So we will need to use Kubernetes 1.13 and configure PV with ReadOnlyMany. Currently we use HostPath. Will that continue to work with the new backup approach and above setting?

[2019-04-16 14:10] hossainemruz commented on #743
No. We are re-designing Stash to support those use-cases. Stand alone PVC backup is supported by new design which utilize new API. However, your old settings for backup and recovery will still work but you won't able to use new features.

[2019-04-17 13:35] Gizmos777 opened #748 "Run stash as non root user"
Hello. It probably run  the pods of stash as non root user?
I use Pod Security Policy so users mustn't run pod as root.
I added the user stash in the image.
[code]
But  i can't recovery  my files.
I get the errors:
[code]

[2019-04-17 14:34] Gizmos777 commented on #748
I found a mistake

[2019-04-18 03:38] hossainemruz commented on #748
@Gizmos777 There is some issue while running Stash as non-root user. For details, please visit this doc: https://github.com/appscode/stash/blob/psp/docs/guides/ownership.md

From next version Stash will run as non-root user by default. Restore process may run as root but it will be configurable.

[2019-04-18 07:39] #715 closed

[2019-04-18 09:47] Gizmos777 commented on #748
I am trying the first case from https://github.com/appscode/stash/blob/psp/docs/guides/ownership.md.
Original File Owner - root. Backup sidecar and Restore init-container user - stash, but i get the error:
[code]

[2019-04-18 10:32] hossainemruz commented on #748
@Gizmos777 can you try specifying numeric UID and GID for stash image?

[code]

[2019-04-18 13:18] Gizmos777 commented on #748
I have already tried specifiying numeric 1005, but I got same error again.

[2019-04-18 13:38] hossainemruz commented on #748
Are you using `hostPath` as local backend?

[2019-04-18 13:50] Gizmos777 commented on #748
I am using Persistent Volume by ceph.
Recovery yaml:
[code]

[2019-04-18 13:57] hossainemruz commented on #748
Does backup succeeded? Can you check log from backup sidecar?

[2019-04-18 14:20] Gizmos777 commented on #748
Yes, it did.
[code]

[2019-04-19 05:56] hossainemruz commented on #748
It seems recovery container has panicked but we didn't write proper error message in event.Can you show log from restore job? It's might be tricky as the recovery pod get deleted very quickly.

[2019-04-19 07:27] Gizmos777 commented on #748
Logs of the recovery pod
[code]

[2019-04-19 08:26] hossainemruz commented on #748
So, it says recovery pod does not have permission to read backed up data. I suspect that backup sidecar and restore container are not running as same user. Can you confirm please?

First, delete the Repository and backed up from backend. Then, data add user, group with numeric id as I have shown earlier. Then, backup data again. Finally, try to restore. Make sure your backup container and restore

[2019-04-19 09:02] Gizmos777 commented on #748
I got the error again.
I checked the permission in nfs share:
[code]
I checked  user's uid in sidecar pod
[code]

[2019-04-19 10:05] hossainemruz commented on #748
@Gizmos777 at this points I am not sure what might be causing the issue. I will recommend you to wait till next version. From next version, Stash will run as `non-root` user by default.

[2019-04-19 10:28] Gizmos777 commented on #748
Ok. Thank you for information.

[2019-04-19 10:28] #748 closed

[2019-04-21 15:53] tamalsaha opened #751 "Support VolumeSnapshot feature from Kubernetes"
Here is the scenario:

Cloud provider supports volume snapshotting. The CSI driver for that cloud provider implements this feature. https://kubernetes.io/docs/concepts/storage/volume-snapshots/

Now, instead of using `restic`, Stash uses the volume snapshotting crds to take backups. How will the restore process work?

Limitations of this approach:

- This requires CSI driver. None of the CSI drive

[2019-04-23 04:12] tamalsaha commented on #751
- https://kubernetes.io/blog/2018/10/09/introducing-volume-snapshot-alpha-for-kubernetes/
- https://kubernetes.io/blog/2019/01/17/update-on-volume-snapshot-alpha-for-kubernetes/

[2019-04-23 04:18] tamalsaha commented on #751
Example: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver

[2019-04-25 04:21] hossainemruz commented on #500
Fixed in https://github.com/appscode/stash/pull/734

[2019-04-25 04:21] #500 closed

[2019-04-25 04:24] #324 closed

[2019-04-25 04:29] hossainemruz commented on #686
Fixed using `spec.rules` section in `RestoreSession`.

[2019-04-25 04:29] #686 closed

[2019-04-25 04:29] hossainemruz commented on #685
Fixed using `spec.rules` section in `RestoreSession`.

[2019-04-25 04:29] #685 closed

[2019-04-25 04:30] hossainemruz commented on #684
Fixed using `spec.rules` section in `RestoreSession`.

[2019-04-25 04:30] #684 closed

[2019-04-27 04:23] #738 closed

[2019-04-29 02:25] dsreddy99 opened #757 "unable to take the EKS -PVC backup in 8.3.0 using Stash"
Hi Team ,

I am unable to take the back of the running pods -Pvc using stash .8.3

The repository is not getting created .
The sidecar is getting created but unable to moun to the volume it seems.

I dont see the snapshot crd in the crd list .

Please help in this case and let me know how to proceed further .

Thanking you
Best regards,
Satish

[2019-04-29 03:37] hossainemruz commented on #757
@dsreddy99 can you please show the YAML for the workload you are trying to backup? Also share YAML for `Restic`.

[2019-04-29 05:50] #608 closed

[2019-04-29 05:55] tamalsaha commented on #605
Repository crd is now created by user. So, this issue is not relevant anymore.

[2019-04-29 05:55] #605 closed

[2019-04-29 05:55] #663 closed

[2019-04-29 05:57] tamalsaha commented on #634
Please reopen if you are still seeing this issue.

[2019-04-29 05:57] #634 closed

[2019-04-29 05:57] #418 closed

[2019-04-29 05:58] tamalsaha commented on #477
offline mode does not exist in v1beta1.

[2019-04-29 05:58] #477 closed

[2019-04-29 05:58] #217 closed

[2019-04-29 05:59] tamalsaha commented on #327
RestoreSession handles this usecase.

[2019-04-29 05:59] #327 closed

[2019-04-29 06:01] tamalsaha commented on #557
Closing out-dated issue. Please file a new issue with logs if you see this issue.

[2019-04-29 06:01] #557 closed

[2019-04-29 06:02] tamalsaha commented on #558
Closing out-dated issue. Please file a new issue with logs if you see this issue.

[2019-04-29 06:02] #558 closed

[2019-04-29 06:05] tamalsaha commented on #579
This is not relevant in v1beta1 api.

Also, given how CRD validation works, this can't be done using openapi-spec. https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

[2019-04-29 06:05] #579 closed

[2019-04-29 06:06] #402 closed

[2019-04-29 06:08] tamalsaha commented on #728
v1beta1 api uses K8s cron job for scheduling. K8s cron jobs don't support timezones for cron expressions, rather it uses the timezone of the controller-manager pod.

[2019-04-29 06:08] #728 closed

[2019-04-29 06:10] tamalsaha commented on #571
out-dated.

[2019-04-29 06:10] #571 closed

[2019-04-29 06:11] tamalsaha commented on #585
fixed in 0.8.2

[2019-04-29 06:11] #585 closed

[2019-04-29 06:13] tamalsaha commented on #621
Fixed in v1beta1

[2019-04-29 06:18] tamalsaha commented on #621
Add `Env` to `ContainerRuntimeSettings` ?

[2019-04-29 06:33] tamalsaha opened #758 "MutatingWebhooks must be without side-effect"

[2019-04-30 00:52] tamalsaha commented on #604
KubeDB:
Was expecting the metrics exporter for the kubedb operator to include metrics for things like snapshots, snapshot health/size, number of databases.  Instead, there are only standard http_request metrics.

https://kubernetes.slack.com/archives/C8149MREV/p1556360712010900

[2019-04-30 06:34] #745 closed

[2019-04-30 08:26] hossainemruz opened #762 "Explore possibility to use Percona's XtraBackup for MySQL backup instead of mysqldump"
XtraBackup:
https://www.percona.com/software/mysql-database/percona-xtrabackup

Feature Comparison:
https://www.percona.com/software/mysql-database/percona-xtrabackup/feature-comparison

Blog Post:
https://severalnines.com/blog/mysqldump-or-percona-xtrabackup-backup-strategies-mysql-galera-cluster

Currently user's can write their own `Function` to use XtraBackup instead of mysqldump.

[2019-05-02 11:37] tamalsaha opened #764 "Grafana dashboard for v1beta1 api"

[2019-05-03 06:12] hossainemruz opened #765 "Make database ready timeout configurable in Function level"
Different database may need different time to be ready. Currently we wait 30 sec for database to be ready.
https://github.com/stashed/stash/blob/09af5d319bb5be889186965afb04045781d6f926/pkg/cmds/backup_pg.go#L177

This is not enough. We should make it configurable via flag. Default value could be 15 min.

[2019-05-03 20:31] tamalsaha opened #766 "OSM config and file permission issue"
https://github.com/stashed/stash/blob/09af5d319bb5be889186965afb04045781d6f926/pkg/osm/osm.go#L108

[2019-05-03 20:31] tamalsaha commented on #766
/cc @hossainemruz @iamrz1

[2019-05-06 06:19] hossainemruz opened #767 "Don't create respective CronJob for a BackupConfiguration if the target does not exist"
Currently, we create a CronJob for each BackupConfiguration  that creates BackupSession on schedule. This cronjob get created even when the respective target does not exit.

Ref: https://github.com/stashed/stash/blob/09af5d319bb5be889186965afb04045781d6f926/pkg/controller/backup_configuration.go#L91

[2019-05-06 17:08] davidq2q opened #768 "Can we use this for cross cluster data migration?"
See issue title!

[2019-05-07 03:23] hossainemruz commented on #768
@davidq2q Currently, we don't support this use case. We are focused on backup stuff. Btw, you can do it using Stash but it won't be easy. I won't go in details. Just an overview here:

1. Backup data from first cluster.
2. Deploy Stash in second cluster.
3. Create the Repository crds of first cluster into second cluster manually.
4. Recover data in second cluster.

[2019-05-07 04:34] hossainemruz commented on #751
**Requirements:**
- CSI driver must support `VolumeSnpahot`. List of CSI drivers that support `VolumeSnapshot`:https://kubernetes.io/blog/2019/01/17/update-on-volume-snapshot-alpha-for-kubernetes/
- It is alpha feature. Must be enabled using `--feature-gates=VolumeSnapshotDataSource=true` flag in Kubernetes API server.

**Limitation:**
- Restore can be done only in new PVC. Currently not possible

[2019-05-07 05:17] tamalsaha commented on #751
- [ ] Application-centric backup/restore
- [ ] Snapshot scheduling
- [ ] Clarify that VolumeSnapshots live in project silos
- [ ] Restore with out application downtime.

[2019-05-07 06:45] tamalsaha opened #769 "Add user roles for v1beta1"

[2019-05-07 06:51] tamalsaha commented on #705
Fixed

[2019-05-07 06:51] #705 closed

[2019-05-07 07:13] #766 closed

[2019-05-07 07:58] tamalsaha opened #771 "helm install --wait flag"
I think we should just tell users to not use the --wait flag.

[2019-05-08 06:38] hossainemruz opened #774 "Use cron inside operator instead of Kubernetes CronJob to create BackupSession?"

[2019-05-08 08:03] suaas21 commented on #672
In stash v1beta1 version, we set workload as the owner of RBAC stuff like InitContainerRolebinding and SidecarRolebinding, So the issue has been solved.

[2019-05-08 08:04] #672 closed

[2019-05-09 09:13] remche opened #777 "stash-sidecar never release lock"
**Stash 0.8.3** (same behavior with 0.8.2)
**Kubernetes 1.13.4**
**Backend: local (nfs)**

Stash sidecar will not release restic lock after backup, which leads to skipping next scheduled backup.
When we manually remove the lock, the repository is instantly re-locked.

**Sidecar logs**
[code]

**Restic**

[code]

**Lock ConfigMap**

[code]

**Operator logs**

[code]

[2019-05-09 10:00] remche commented on #777
Note : If we wait some time, we finally can remove the restic lock.
If we delete the lock configmap too, next backup will be skipped, and restic is relocked with the "old" locktime...

[2019-05-09 10:06] remche commented on #777
Note #2 : The PID locking the restic repository is the restic forget process.

[2019-05-13 03:13] tamalsaha opened #779 "Use defaulting"
Using Mutating webhook

spec.driver = Restic

[2019-05-13 04:49] #758 closed

[2019-05-13 05:30] #657 closed

[2019-05-13 05:36] tamalsaha opened #781 "Use restic 0.9.5"

[2019-05-13 22:00] tamalsaha opened #783 "Review new labels and annotations used"
- Should have `stash.appscode.com/` prefix.
- Make sure it plays nice with the Kubernetes app labels.
   - https://github.com/kubedb/apimachinery/blob/master/apis/kubedb/v1alpha1/elasticsearch_helpers.go#L29

[2019-05-13 22:26] tamalsaha commented on #706
- [ ] Document that discusses the differences between v1alpha1 and v1beta1 apis. For example, there will be only one repository per workload.

[2019-05-13 22:55] tamalsaha commented on #751
xref: https://github.com/kubernetes/enhancements/issues/989

@hossainemruz , K8s is adding support to clone a PVC.

[2019-05-14 03:43] tamalsaha opened #784 "Restore PVCs from templates using Restic"
Usecase: recover without workload (statefulset)

Scenario 1:
- User takes backup of statefulset in cluster c1 using restic driver.
- Now user wants to recover the workload in cluster c2.
- He needs to recover the PVCs usign restic and VolumeClaimTemplate, then recreate the statefulset.

Scenario 2:
- User takes backup of statefulset in cluster c1 using restic driver.
- In a disaster, user looses t

[2019-05-14 11:50] davidq2q opened #785 "error: unable to retrieve the complete list of server APIs: admission.stash.appscode.com/v1alpha1: the server is currently unable to handle the request, repositories.stash.appscode.com/v1alpha1: the server is currently unable to handle the request"
Deleted namespace where stash operator is located. Used helm to install it, forgot that it was installed with helm. Anyway now I can't do anything because I keep getting the following error:

```error: unable to retrieve the complete list of server APIs: admission.stash.appscode.com/v1alpha1: the server is currently unable to handle the request, repositories.stash.appscode.com/v1alpha1: the server

[2019-05-14 11:51] davidq2q commented on #692
I have similar problem but the namespace where stash was installed is stuck on deletion. This renders my cluster unresponsive.

[2019-05-14 11:57] tamalsaha commented on #692
@davidq2q , a solution will be to apply this change https://github.com/stashed/stash/commit/36fdb9ae13152f8f72e2464e215ddd10b24f72ed . This will be part of next release. https://github.com/stashed/stash/pull/726

[2019-05-14 11:57] davidq2q commented on #785
Fixed it by executing:
[code]

[2019-05-14 11:57] #785 closed

[2019-05-15 03:30] hossainemruz commented on #601
Done in this PR: https://github.com/stashed/stash/pull/721

[2019-05-15 03:30] #601 closed

[2019-05-15 22:25] tamalsaha opened #788 "Fix linter issues"
I run

[code]

[code]

[2019-05-15 22:30] tamalsaha commented on #788
We need to talk before anyone works on this issue.

[2019-05-17 09:05] tamalsaha commented on #621
Done.

[2019-05-17 09:05] #621 closed

[2019-05-17 09:11] tamalsaha commented on #767
Skip creating `BackupSession` if target does not exist.

[2019-05-17 09:17] tamalsaha commented on #783
https://github.com/stashed/stash/pull/739#discussion_r283554961

[2019-05-17 09:18] tamalsaha opened #790 "Remove importance of order of target rules"
- Does the order of the rules in the array matter?
- DO we validate that there are not 2 rules with empty subjects array?

https://github.com/stashed/stash/pull/739#discussion_r283600728

[2019-05-17 09:19] tamalsaha opened #791 "BackupSession naming format"
Can we use the format that CronJobs use to generate names for Jobs for a CronJob; eg, backupconfig-{TIMESTAMP _ upto sec?}

https://github.com/stashed/stash/pull/739#discussion_r283554604

[2019-05-17 09:21] tamalsaha opened #792 "TARGET variables"
- How are we handling upper case vs lower case?
- TARGET_RESOURCE (plural) should also be available as a variable?
https://github.com/kmodules/client-go/blob/master/discovery/restmapper.go#L72

[2019-05-17 09:21] tamalsaha commented on #792
https://github.com/stashed/stash/pull/739#discussion_r283548658

[2019-05-19 03:54] #462 closed

[2019-05-19 05:03] tamalsaha opened #794 "Openshift SCC support"
https://github.com/kmodules/security-policy-api/issues/3

For Openshift, we need to add s/a name to the SCC.users list. It will be equivalent to

[code]

[2019-05-19 05:03] tamalsaha commented on #794
https://github.com/stashed/stash/pull/729#discussion_r285362606

[2019-05-20 03:25] tamalsaha commented on #781
Fixed in https://github.com/stashed/stash/pull/789

[2019-05-20 03:25] #781 closed

[2019-05-20 07:17] tamalsaha commented on #791
https://github.com/kubernetes/kubernetes/blob/81a61ae0e37143299ee5947a6c2c5195ec5f72ae/pkg/controller/cronjob/utils.go#L156

[2019-05-21 08:01] hossainemruz commented on #733
Fixed in this PR: https://github.com/stashed/stash/pull/729

[2019-05-21 08:01] #733 closed

[2019-05-22 08:17] tamalsaha opened #798 "Add validators"
- [ ] Validate Target apiGroup + kind is supported

[2019-05-22 08:17] #767 closed

[2019-05-22 08:57] #790 closed

[2019-05-22 08:58] tamalsaha opened #799 "Add tests for rule order pr"
https://github.com/stashed/stash/pull/795/files#r286380544

[2019-05-22 10:11] hossainemruz commented on #791
Fixed in #797

[2019-05-22 10:11] #791 closed

[2019-05-23 15:14] tamalsaha commented on #784
parallel restoration .

[2019-05-24 04:01] tamalsaha opened #807 "Garbage collect backup/restore jobs"
- [x] Add spec.historyLimit field to `BackupConfiguration` (like Deployment). Delete older `BackupSession` objects accordingly. This will delete the backup jobs.

- [ ] Keep failed restore jobs for a `RestoreSession`. If `RestoreSession` is successful, then delete the restore job after 2 hours (configurable by operator flag).

[2019-05-24 04:03] #783 closed

[2019-05-24 04:07] hossainemruz opened #808 "Implement retention policy for VolumeSnapshot"
Currently, we don't remove old `VolumeSnapshot`. We should remove it according to `retentionPolicy`

[2019-05-29 03:37] hossainemruz opened #812 "Document that DaemonSet PVCs can not be restored using VolumeClaimTemplates in RestoreSession"

[2019-05-29 07:15] #792 closed

[2019-05-29 08:44] tamalsaha opened #815 "Create cluster role in installer"

[2019-05-29 08:57] #784 closed

[2019-06-12 17:47] tamalsaha opened #820 "KubeDB + Stash installer layout"
[code]

[2019-06-23 10:23] ljani opened #822 "Cannot deploy stash with helm@3"
I have [a helm umbrella chart](https://helm.sh/docs/developing_charts/#complex-charts-with-many-dependencies) and I'd like to deploy `stash` as a part of it. I added `stash@0.8.3` as a dependency for my umbrella chart, but when I try to upgrade the chart, I get the following error:

[code]

I'm also experimenting with `helm@3`.

[The documentation states I should pass ` --namespace kube-system`](h

[2019-06-23 10:32] hossainemruz commented on #822
Hi Jani,
You can install Stash in any namespace you want. If you don't provide namespace flag during installation, Stash will be installed in default namespace. It seems that Stash was initially installed in kube-system namespace and while upgrading it, no namespace flag was provided. Try uninstalling Stash then install as dependency as your umbrella chart. It should be installed in default namesp

[2019-06-23 10:36] ljani commented on #822
Thanks for your quick reply. I have not installed `stash` previously at all and I'm the single user of the cluster. I found [one reference to `kube-system`](https://github.com/stashed/installer/blob/e58a3fb3c39a9c1b00cff32e1bb2072c4d5d9f56/chart/stash/templates/apiregistration.yaml#L75). I wonder if that causes problems with `helm@3` then, if it should work with `helm@2`.

[2019-06-23 10:40] hossainemruz commented on #822
Good catch. It seems to be mistakenly hard coded. We are fixing soon.

[2019-06-23 10:42] ljani commented on #822
Great! I was not sure if it was a mistake or not. Anyway, something like this `Chart.yaml` should reproduce the issue with `helm@3`:

[code]

[2019-06-23 10:54] hossainemruz commented on #822
@ljani I have given a deeper look to this hard-coded namespace. It is not a mistake. It is intentional. Stash operator need to have permissions specified in `extension-apiserver-authentication-reader` rule. Which reside in `kube-system` namespace. So, we have to create a `RoleBinding` in `kube-system` pointing to ServiceAccount `stash-operator` at Stash's namespace.

We haven't tested Stash with `

[2019-06-23 19:05] ljani commented on #822
Yeah, I kinda thought it was intentional. I tried `helm@2` and it seems to work:

[code]

[2019-06-23 19:19] ljani commented on #822
Okay, this is a helm issue. [Here is a similar bug](https://github.com/jetstack/cert-manager/issues/1744) and [it is being tracked here](https://github.com/helm/helm/issues/5628).

@hossainemruz: Thanks for the support though! The project seems very promising even if I'm yet to try it.

[2019-06-25 16:20] bacongobbler commented on #822
https://github.com/jetstack/cert-manager/issues/1744 and https://github.com/helm/helm/issues/5628 are two separate issues, though people have confused the two as the same ticket because they're both related to namespaces. They're two separate issues though.

[2019-07-07 10:23] ljani opened #826 "ARM support"
#802 says "We now use Docker manifest to build and push ARM images", but I cannot find ARM images on Docker Hub. Am I missing something? Here's output from `manifest-tool`:

[code]

I'm using `helm` to deploy `stash` and I tried to switch [`nodeSelector.beta.kubernetes.io/arch`](https://github.com/stashed/installer/blob/fcf22971fcdaa70d88629e1e821cdae90764e896/chart/stash/values.yaml#L44) to `arm`

[2019-07-08 03:39] hossainemruz commented on #826
@ljani we haven't released any new version with this PR. We will cut a release soon.

[2019-07-08 06:54] tamalsaha opened #827 "Review kubectl plugin commands"
Repository:

[code]

Backup:

[code]

~~# create matching PVC for PV then configure backup~~
~~$ kubectl stash backup pv --pv-name=my-pv --namespace=demo~~
~~# or~~
~~# create only matching PVC for a PV user will then take backup~~
~~$ kubectl stash create matching-pvc --pv-name=my-pv --namespace=demo~~

Snapshot:

[code]

Restore Locally:

[code]

[2019-07-08 07:29] tamalsaha commented on #827
[code]

[2019-07-08 09:14] ljani commented on #826
Ah, that makes sense. I'll be waiting for the release, thanks!

[2019-07-08 23:50] tamalsaha opened #830 "Additional column header"
`BACKUPCONFIGURATION` => `BACKUP-CONFIGURATION`

[2019-07-09 04:23] tamalsaha opened #831 "RestoreSession replicas logic"
Current Logic:
--------------
Presence of replicas field means, statefulset. So, ordinal added.

- replicas unset, should have same behavior as replicas:1.
- How is the `ordinal` suffix added?

[2019-07-09 04:29] tamalsaha commented on #831
[code]

[2019-07-09 04:38] tamalsaha commented on #831
${CLAIM_NAME} key not necessary.

[2019-07-18 12:20] shudipta opened #838 "backend repository's been locked after crashing job"

[2019-07-19 09:47] tamalsaha commented on #827
- short cut command for backup and restore

[2019-07-19 09:50] tamalsaha commented on #827
- `clone`
  - take backup
  - restore

[2019-07-19 09:53] tamalsaha commented on #827
- create repository

[2019-07-19 15:48] bacongobbler commented on #822
See helm/helm#5953 for the upstream issue and helm/helm#6046 for a fix.

[2019-07-20 08:42] tamalsaha commented on #706
- [ ] OpenShift DeploymentConfig

[2019-07-20 18:56] tamalsaha commented on #706
- [ ] ReplicaSet
- [ ] ReplicationController

[2019-07-20 19:53] tamalsaha commented on #822
Thanks @bacongobbler !

[2019-07-24 05:26] hossainemruz opened #840 "Stash v1beta1 enhancement"
- [ ] Template version part of `BackupBlueprint`'s name field so that same `BackupBlueprint` can be used to backup all database version. [Emruz]
	- https://github.com/stashed/docs/pull/17#discussion_r306444544
- [x] Explain `VolumeMounts` field [Sagor]
	- https://github.com/stashed/docs/pull/7#discussion_r305578188
- [x] Rename `directories` to `paths` [Sagor]
	- https://github.com/stashed/docs/pu

[2019-07-24 13:43] tamalsaha opened #842 "Handling storage secret for BackupConfigurationTemplate"
- [ ] Should operator copy storage secret from its own namespace into the `BackupConfiguration` namespace? Currently, users have to manually create the storage secret in the `BackupConfiguration` namespace.

[2019-07-28 18:36] ljani commented on #822
`helm@v3.0.0-alpha.2` seemed to work as I'm now blocked by https://github.com/stashed/stash/issues/826.

[2019-07-28 18:36] #822 closed

[2019-07-30 20:42] michaelkoetter opened #850 "sidecar error: container's runAsUser breaks non-root policy"
I'm trying to run stash with prometheus-operator (installed from Helm chart).

It creates a sidecar container with the following security context:

[code]

whereas the pod has this security context already:

[code]

... which then leads to the error:

[code]

Is there any way to change the sidecar's `runAsUser`/`runAsGroup` or omit them from the definition?

[2019-07-30 21:10] tamalsaha commented on #840
- [ ] Check advance-use-case folder has been renamed and moved properly.

[2019-07-30 22:09] tamalsaha commented on #706
- [ ] Search and replace direct links to our website https://appscode.com/products/stash/0.8.3/
 - [ ] Check advance-use-case folder has been renamed and moved properly.

[2019-07-30 22:57] tamalsaha commented on #706
- [ ] Do we still have the pause feature? I do not remember seeing doc for that.

[2019-07-31 03:45] hossainemruz commented on #850
@michaelkoetter It is not configurable in current release. However, we have already made it configurable for next release. We will release a rc in this week or next week.

[2019-07-31 04:16] tamalsaha opened #851 "Catch TERM signal to unlock repos"
We should catch TERM signal so that we can gracefully shutdown any restic process. Otherwise, we will get those locked repo issue.

[2019-07-31 04:39] tamalsaha commented on #706
For later:
- [ ] Share Blueprint between different types of database.

[2019-08-01 05:29] tamalsaha commented on #851
https://pracucci.com/graceful-shutdown-of-kubernetes-pods.html

[2019-08-01 06:43] hossainemruz opened #853 "Don't run forget for each host in parallel backup"
Ref: https://forum.restic.net/t/best-practice-for-multiple-hosts-to-single-repository/1687

[2019-08-01 14:53] hossainemruz opened #854 "Ensure auto-backup behaves consistently on each controller resync"
**Current behavior: **

For database auto-backup, BackupConfiguration get deleted controller resyc and created again next controller resyc.

[2019-08-02 18:58] tamalsaha commented on #840
- [ ] Suspend Cronjob for paused backup? https://github.com/stashed/docs/pull/21#discussion_r310259014

[2019-08-05 03:49] tamalsaha commented on #706
- [ ] How to stop backup?
  - Delete backup config
  - Delete annotation in case of AutoBackup

[2019-08-05 04:52] tamalsaha opened #856 "Stash addon doc organization"
[code]

[2019-08-05 11:13] hossainemruz opened #857 "Tracking Issue: Release 0.9.0-rc.0"
**Operator:**
- [ ] Release `0.9.0-rc.0`
- [ ] Push chart
- [ ] Push docker image

**Docs:**
- [ ] Update setup doc
- [ ] Replace `0.8.3` with `0.9.0-rc.0`
- [ ] Update website

**Plugins:**

- Postgres:
	- [ ] Push `stash-postgres` chart
		- [ ] 11.2
		- [ ] 10.6
		- [ ] 10.2
		- [ ] 9.6
	- [ ] Push `stash-postgres` docker image
		- [ ] 11.2
		- [ ] 10.6
		- [ ] 10.2
		- [ ] 9.6
- MongoDB:
	- [ ]

[2019-08-06 04:48] tamalsaha commented on #840
- [ ] Volume snapshot based backup doc is missing for stash-mongodb

[2019-08-06 06:04] hossainemruz opened #858 "Elasticsearch: Support backup Elasticsearch without SearchGuard"
Currently, Stash can backup only the Elasticsearch with SearchGurad.

**Reason:**

https://github.com/stashed/elasticsearch/blob/6a82a60d627374c7355bfc2d8897b11c2c28b905/pkg/backup.go#L112

[2019-08-06 22:27] codejamninja commented on #395
I am getting this error

[2019-08-07 00:10] tamalsaha commented on #840
- [ ] apply secret transformations in AppBinding
- [ ] Document that VolumeSnapshot feature in alpha in K8s and should not be used for production.

[2019-08-07 04:01] codejamninja opened #860 "Failing to create snapshot resource"
Stash is backing up my data just fine, but it fails to create the snapshot resource, so I can't restore any of my data. I have kubedb installed, and I noticed that kubedb has a resource kind called snapshot. Is it possible that they are colliding with each other?